<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <f:view contentType="text/html">
        <h:head>
            <f:facet name="first">
                <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
                <title>FineXtreme HR</title>
            </f:facet>
        </h:head>

        <h:body>
           
         <ui:composition template="/WEB-INF/resources/templates/template.xhtml">
             <ui:define name="content">
                 <f:view>
                     <h:form id="form">
                         <h1><h:outputText value="Create/Edit"/></h1>
                         <p:panelGrid columns="2">
                             <p:outputLabel value="DeductionCode:" for="deductionCode" />
                             <p:inputText id="deductionCode" value="#{generalDeductionsController.deduction.deductionCode}" title="DeductionCode" required="true" requiredMessage="The DeductionCode field is required."/>
                             
                             <p:outputLabel value="DeductionName:" for="deductionName" />                             
                             <p:inputText id="deductionName" value="#{generalDeductionsController.deduction.deductionName}" title="DeductionName" />
                             
                             <p:outputLabel value="Has Balance" for="hasBal" />
                             <p:selectBooleanCheckbox  id="hasBal" value="#{generalDeductionsController.hasBal}"  title="HasBal"/>
                             
                              <p:outputLabel value="Mode:" for="isIncreasing" />
                              <p:selectOneMenu id="isIncreasing" value="#{generalDeductionsController.deduction.isIncreasing}" >
                                  <f:selectItem itemLabel="Increasing" itemValue="YES"/>
                                  <f:selectItem itemLabel="Reducing" itemValue="NO"/>                                    
                              </p:selectOneMenu>
                             
                             <p:outputLabel value="This is the Default SACCO/COOP Deduction (Shares + Loan + Interest)" for="isDefaultSaccoDeduction" />
                             <p:selectBooleanCheckbox id="isDefaultSaccoDeduction" value="#{generalDeductionsController.isDefaultSaccoDeduction}" title="IsDefaultSaccoDeductione" />
                             
                             <p:outputLabel value="This is a SACCO Saving Scheme ONLY eg Deposit,child fund" for="isSaccoSaving" />
                             <p:selectBooleanCheckbox id="isSaccoSaving" value="#{generalDeductionsController.isSaccoSaving}" title="IsSaccoSaving" />
                             
                             <p:outputLabel value="This is a SACCO Welfare Fund" for="isWelfareFund" />
                             <p:selectBooleanCheckbox id="isWelfareFund" value="#{generalDeductionsController.isWelfareFund}" title="IsWelfareFund" />
                             
                             
                             <p:outputLabel value="Does not Recur" for="doesNotRecur" />
                             <p:selectBooleanCheckbox id="doesNotRecur" value="#{generalDeductionsController.doesNotRecur}" title="DoesNotRecur" />
                             
                             <p:outputLabel value="Deduct after tax" for="deductAfterTax" />
                             <p:selectBooleanCheckbox id="deductAfterTax" value="#{generalDeductionsController.deductAfterTax}" title="DeductAfterTax" />
                            
                             <p:outputLabel value="This is the Voluntary NSSF Deduction" for="isVoluntaryNSSF" />
                             <p:selectBooleanCheckbox id="isVoluntaryNSSF" value="#{generalDeductionsController.isVoluntaryNSSF}" title="IsVoluntaryNSSF" />
                             
                             <p:outputLabel for="deductBy" value="Deduct By:" />
                             <p:selectOneRadio id="deductBy" value="#{generalDeductionsController.deduction.deductBy}">
                                <f:selectItem itemLabel="Amount" itemValue="Amount" />
                                <f:selectItem itemLabel="Percentage of Gross" itemValue="Percentage of Gross" />
                                <f:selectItem itemLabel="Percentage of Basic" itemValue="Percentage of Basic" />
                            </p:selectOneRadio>
                             
                             
                             <p:outputLabel value="This is a loan Deduction" for="isLoanDeduction" />
                             <p:selectBooleanCheckbox id="isLoanDeduction" value="#{generalDeductionsController.isLoanDeduction}" title="IsLoanDeduction" />
                             
                             <p:outputLabel value="Loan Short Name" for="loanShortName" />
                             <p:inputText id="loanShortName" value="#{generalDeductionsController.deduction.loanShortName}" title="LoanShortName"/>
                             
                             <p:outputLabel value="Interest Type" for="interestType" />
                             <p:selectOneMenu id="interestType" value="#{generalDeductionsController.deduction.interestType}" >
                                  <f:selectItem itemLabel="Reducing" itemValue="Reducing" />
                                  <f:selectItem itemLabel="FLAT" itemValue="FLAT" />  
                                  <f:selectItem itemLabel="FIXED" itemValue="FIXED" />  
                              </p:selectOneMenu>

                             
                             <p:outputLabel value="This is a Sacco loan" for="isSaccoLoan" />
                             <p:selectBooleanCheckbox id="isSaccoLoan" value="#{generalDeductionsController.isSaccoLoan}" title="isSaccoLoan" />
                            
                             <p:outputLabel value="Other Reliafs" for="otherReliefs" />
                             <p:selectBooleanCheckbox id="otherReliefs" value="#{generalDeductionsController.otherReliefs}" title="OtherReliefs" />
                             
                             
                          
                             <p:selectOneRadio id="reliefIsPercentage" value="#{generalDeductionsController.deduction.reliefIsPercentage}">
                                <f:selectItem itemLabel="Percentage" itemValue="YES" />
                                <f:selectItem itemLabel="Fixed Amount" itemValue="NO" />                                
                            </p:selectOneRadio>

                             <p:outputLabel value="Fixed Amount" for="reliefRate" />
                             <p:inputText id="reliefRate" value="#{generalDeductionsController.deduction.reliefRate}" title="reliefRate" required="true" requiredMessage="The reliefRate field is required."/>
                             
                              <p:outputLabel value="Relief Name" for="reliefName" />
                             <p:inputText id="reliefName" value="#{generalDeductionsController.deduction.reliefName}" title="reliefName" required="true" requiredMessage="The reliefName field is required."/>
                             
                              <p:outputLabel value="Max Relief Amount" for="maxReliefAmount" />
                             <p:inputText id="maxReliefAmount" value="#{generalDeductionsController.deduction.maxReliefAmount}" title="maxReliefAmount" required="true" requiredMessage="The maxReliefAmount field is required."/>
                             
                             <p:commandButton value="Save" action="#{generalDeductionsController.add()}" update="form"/>
                         </p:panelGrid>
                     </h:form>
                 </f:view>
             </ui:define>
             
             <ui:define name="side-Nav">
                 <p:menu>
                    <p:submenu label="Resources">
                       

                    </p:submenu>

                 </p:menu>
             </ui:define>

        </ui:composition>

        </h:body>

    </f:view>
</html>

