<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <f:view contentType="text/html">
        <h:head>
            <f:facet name="first">
                <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
                <title>FineXtreme HR</title>
            </f:facet>
        </h:head>

        <h:body>
           
         <ui:composition template="/WEB-INF/resources/templates/template.xhtml">
             <ui:define name="content">
                 <f:view>


                     <h:form>
                         <h1><h:outputText value="Create/Edit"/></h1>
                         <p:panelGrid columns="2">
                             <p:outputLabel value="DeductionCode:" for="deductionCode" />
                             <p:inputText id="deductionCode" value="#{generalDeductionsController.deduction.deductionCode}" title="DeductionCode" readonly="true"/>
                             <p:outputLabel value="DeductionName:" for="deductionName" />
                             <p:inputText id="deductionName" value="#{generalDeductionsController.deduction.deductionName}" title="DeductionName" />
                             <p:outputLabel value="LoanShortName:" for="loanShortName" />
                             <p:inputText id="loanShortName" value="#{generalDeductionsController.deduction.loanShortName}" title="LoanShortName" />
                             <p:outputLabel value="InterestType:" for="interestType" />
                             <p:inputText id="interestType" value="#{generalDeductionsController.deduction.interestType}" title="InterestType" />
                             <p:outputLabel value="ReliefName:" for="reliefName" />
                             <p:inputText id="reliefName" value="#{generalDeductionsController.deduction.reliefName}" title="ReliefName" />
                             <p:outputLabel value="DeductBy:" for="deductBy" />
                             <p:inputText id="deductBy" value="#{generalDeductionsController.deduction.deductBy}" title="DeductBy" required="true" requiredMessage="The DeductBy field is required."/>
                             <p:outputLabel value="DeductAfterTax:" for="deductAfterTax" />
                             <p:inputText id="deductAfterTax" value="#{generalDeductionsController.deduction.deductAfterTax}" title="DeductAfterTax" required="true" requiredMessage="The DeductAfterTax field is required."/>
                             <p:outputLabel value="IsLoanDeduction:" for="isLoanDeduction" />
                             <p:inputText id="isLoanDeduction" value="#{generalDeductionsController.deduction.isLoanDeduction}" title="IsLoanDeduction" required="true" requiredMessage="The IsLoanDeduction field is required."/>
                             <p:outputLabel value="IsDefaultSaccoDeduction:" for="isDefaultSaccoDeduction" />
                             <p:inputText id="isDefaultSaccoDeduction" value="#{generalDeductionsController.deduction.isDefaultSaccoDeduction}" title="IsDefaultSaccoDeduction" required="true" requiredMessage="The IsDefaultSaccoDeduction field is required."/>
                             <p:outputLabel value="ReliefIsPercentage:" for="reliefIsPercentage" />
                             <p:inputText id="reliefIsPercentage" value="#{generalDeductionsController.deduction.reliefIsPercentage}" title="ReliefIsPercentage" />
                             <p:outputLabel value="HasBal:" for="hasBal" />
                             <p:inputText id="hasBal" value="#{generalDeductionsController.deduction.hasBal}" title="HasBal" />
                             <p:outputLabel value="IsIncreasing:" for="isIncreasing" />
                             <p:inputText id="isIncreasing" value="#{generalDeductionsController.deduction.isIncreasing}" title="IsIncreasing" />
                             <p:outputLabel value="IsVoluntaryNSSF:" for="isVoluntaryNSSF" />
                             <p:inputText id="isVoluntaryNSSF" value="#{generalDeductionsController.deduction.isVoluntaryNSSF}" title="IsVoluntaryNSSF" required="true" requiredMessage="The IsVoluntaryNSSF field is required."/>
                             <p:outputLabel value="IsHousing:" for="isHousing" />
                             <p:inputText id="isHousing" value="#{generalDeductionsController.deduction.isHousing}" title="IsHousing" />
                             <p:outputLabel value="IsWelfareFund:" for="isWelfareFund" />
                             <p:inputText id="isWelfareFund" value="#{generalDeductionsController.deduction.isWelfareFund}" title="IsWelfareFund" required="true" requiredMessage="The IsWelfareFund field is required."/>
                             <p:outputLabel value="DoesNotRecur:" for="doesNotRecur" />
                             <p:inputText id="doesNotRecur" value="#{generalDeductionsController.deduction.doesNotRecur}" title="DoesNotRecur" required="true" requiredMessage="The DoesNotRecur field is required."/>
                             <p:outputLabel value="IsSaccoLoan:" for="isSaccoLoan" />
                             <p:inputText id="isSaccoLoan" value="#{generalDeductionsController.deduction.isSaccoLoan}" title="IsSaccoLoan" required="true" requiredMessage="The IsSaccoLoan field is required."/>
                             <p:outputLabel value="IsSaccoSaving:" for="isSaccoSaving" />
                             <p:inputText id="isSaccoSaving" value="#{generalDeductionsController.deduction.isSaccoSaving}" title="IsSaccoSaving" required="true" requiredMessage="The IsSaccoSaving field is required."/>
                             <p:outputLabel value="IntType:" for="intType" />
                             <p:inputText id="intType" value="#{generalDeductionsController.deduction.intType}" title="IntType" />
                             <p:commandButton value="Save" action="#{generalDeductionsController.update()}"/>
                         </p:panelGrid>
                     </h:form>
                 </f:view>

             </ui:define>
             
             <ui:define name="side-Nav">
                 <p:menu>
                    <p:submenu label="Resources">
                       

                    </p:submenu>

                 </p:menu>
             </ui:define>

        </ui:composition>

        </h:body>

    </f:view>
</html>

