<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <f:view contentType="text/html">
        <h:head>
            <f:facet name="first">
                <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
                <title>FineXtreme HR</title>
            </f:facet>
        </h:head>
        <h:body>
            <ui:composition template="/WEB-INF/resources/templates/template.xhtml">
                <ui:define name="content">
                    <f:view>
                        <p:commandButton value="New">
                            <p:ajax update="table mainform details " event="click" />
                        </p:commandButton>
                        
                        <p:separator />
                        <div class="ui-g">
                            <div class="ui-g-4">
                                <p:fieldset id="deductBy" legend="List of Defined Deductions" style="margin-bottom:10px" >
                                    <h:form id="table">
                                        <p:dataTable value="#{generalDeductionsController.findAll()}" var="item" rowKey="#{item.deductionCode}" selectionMode="single" selection="#{generalDeductionsController.deduction}">
                                            <p:ajax event="rowSelect" update="details mainform" listener="#{generalDeductionsController.loadDeduction()}" />
                                            <p:column>
                                                <f:facet name="header">
                                                    <h:outputText value="DeductionCode"/>
                                                </f:facet>
                                                <h:outputText value="#{item.deductionCode}"/>
                                            </p:column>
                                            <p:column>
                                                <f:facet name="header">
                                                    <h:outputText value="DeductionName"/>
                                                </f:facet>
                                                <h:outputText value="#{item.deductionName}"/>
                                            </p:column>
                                        </p:dataTable>
                                    </h:form>
                                </p:fieldset> 
                            </div>
                            <div class="ui-g-8" >
                                <p:fieldset id="details" legend="Deduction parameters for '#{generalDeductionsController.deduction.deductionName}'" style="margin-bottom:10px" >
                                    <h:form id="mainform">
                                        <p:panelGrid columns="2">
                                            <p:outputLabel value="DeductionCode:" for="deductionCode" />
                                            <p:inputText id="deductionCode" value="#{generalDeductionsController.deduction.deductionCode}" title="DeductionCode" required="true" requiredMessage="The DeductionCode field is required." readonly="#{generalDeductionsController.deduction.deductionName != null}"/>

                                            <p:outputLabel value="DeductionName:" for="deductionName" />
                                            <p:inputText id="deductionName" value="#{generalDeductionsController.deduction.deductionName}" title="DeductionName" required="true" requiredMessage="The DeductionCode field is required."/>

                                            <p:outputLabel value="HasBal:" for="hasBal" />
                                            <p:selectBooleanCheckbox  id="hasBal" value="#{generalDeductionsController.hasBal}"  title="HasBal">
                                                <p:ajax update="isIncreasing"/>
                                            </p:selectBooleanCheckbox>

                                            <p:outputLabel value="Mode:" for="isIncreasing" />                                       
                                            <p:selectOneMenu id="isIncreasing" value="#{generalDeductionsController.deduction.isIncreasing}" disabled="#{!generalDeductionsController.hasBal}" >
                                                <f:selectItem itemLabel="Increasing" itemValue="YES"/>
                                                <f:selectItem itemLabel="Reducing" itemValue="NO"/>                                    
                                            </p:selectOneMenu>

                                            <p:outputLabel value="This is the Default Sacco/COOP Deduction(Share + Loan+Interest)" for="isDefaultSaccoDeduction" />
                                            <p:selectBooleanCheckbox id="isDefaultSaccoDeduction" value="#{generalDeductionsController.isDefaultSaccoDeduction}" title="IsDefaultSaccoDeductione" />

                                            <p:outputLabel value="This is a SACCO Saving Scheme ONLY eg. Deposit, Child fund:" for="isSaccoSaving" />
                                            <p:selectBooleanCheckbox id="isSaccoSaving" value="#{generalDeductionsController.isSaccoSaving}" title="IsSaccoSaving" />

                                            <p:outputLabel value="This is a SACCO Welfare Fund" for="isWelfareFund" />
                                            <p:selectBooleanCheckbox id="isWelfareFund" value="#{generalDeductionsController.isWelfareFund}" title="IsWelfareFund" />

                                            <p:outputLabel value="Does not Recur:" for="doesNotRecur" />
                                            <p:selectBooleanCheckbox id="doesNotRecur" value="#{generalDeductionsController.doesNotRecur}" title="DoesNotRecur" />

                                            <p:outputLabel value="Deduct After Tax:" for="deductAfterTax" />
                                            <p:selectBooleanCheckbox id="deductAfterTax" value="#{generalDeductionsController.deductAfterTax}" title="DeductAfterTax" />

                                            <p:outputLabel value="This is the Voluntary NSSF Deduction" for="isVoluntaryNSSF" />
                                            <p:selectBooleanCheckbox id="isVoluntaryNSSF" value="#{generalDeductionsController.isVoluntaryNSSF}" title="IsVoluntaryNSSF" />


                                        </p:panelGrid>
                                        <fieldset>
                                            <legend>                                               
                                                <p:outputLabel value="Deduct By:" for="deductBy" />
                                            </legend>
                                            <h:panelGroup>
                                                <p:selectOneRadio id="deductBy" value="#{generalDeductionsController.deduction.deductBy}" required="true" requiredMessage="The DeductionCode field is required.">
                                                    <f:selectItem itemLabel="Amount" itemValue="Amount" />
                                                    <f:selectItem itemLabel="Percentage of Gross" itemValue="Percentage of Gross" />
                                                    <f:selectItem itemLabel="Percentage of Basic" itemValue="Percentage of Basic" />
                                                </p:selectOneRadio>                                            

                                            </h:panelGroup>
                                        </fieldset>
                                        <fieldset>
                                            <legend>
                                                <h:selectBooleanCheckbox  value="#{generalDeductionsController.isLoanDeduction}">
                                                    <p:ajax event="change" update="isaLoanDeduction" />
                                                </h:selectBooleanCheckbox>
                                                <h:outputText value="This is a Loan Deduction" />
                                            </legend>
                                            <h:panelGroup id="isaLoanDeduction">
                                                <p:outputPanel layout="block"  rendered="#{generalDeductionsController.isLoanDeduction}" autoUpdate="true" >
                                                    <p:panelGrid columns="2">
                                                        <p:outputLabel value="LoanShortName:" for="loanShortName" />
                                                        <p:inputText id="loanShortName" value="#{generalDeductionsController.deduction.loanShortName}" title="LoanShortName" required="true"/>

                                                        <p:outputLabel value="Interest Type" for="interestType" />
                                                        <p:selectOneMenu id="interestType" value="#{generalDeductionsController.deduction.interestType}" >
                                                            <f:selectItem itemLabel="Reducing" itemValue="Reducing" />
                                                            <f:selectItem itemLabel="FLAT" itemValue="FLAT" />  
                                                            <f:selectItem itemLabel="FIXED" itemValue="FIXED" />  
                                                        </p:selectOneMenu>

                                                        <p:outputLabel value="This is a Sacco loan" for="isSaccoLoan" />
                                                        <p:selectBooleanCheckbox id="isSaccoLoan" value="#{generalDeductionsController.isSaccoLoan}" title="isSaccoLoan" />

                                                    </p:panelGrid> 


                                                </p:outputPanel>

                                            </h:panelGroup>
                                        </fieldset>

                                        <fieldset>
                                            <legend>
                                                <h:selectBooleanCheckbox value="#{generalDeductionsController.otherReliefs}" >
                                                    <p:ajax event="change" update="isOtherReliefs"/>
                                                </h:selectBooleanCheckbox>
                                                <h:outputText value="Other Reliefs" />
                                            </legend>
                                            <h:panelGroup id="isOtherReliefs">
                                                <p:outputPanel layout="block"  rendered="#{generalDeductionsController.otherReliefs}" autoUpdate="true" >
                                                    <p:panelGrid columns="2">
                                                        <p:outputLabel value="Type" for="reliefIsPercentage"/>
                                                        <p:selectOneRadio id="reliefIsPercentage" value="#{generalDeductionsController.deduction.reliefIsPercentage}" required="true">
                                                            <f:selectItem itemLabel="Percentage" itemValue="YES" />
                                                            <f:selectItem itemLabel="Fixed Amount" itemValue="NO" />  
                                                            <p:ajax event="click" update="reliefRateName" listener="#{generalDeductionsController.SetOtherReliefsName()}"/>
                                                        </p:selectOneRadio>

                                                        <p:outputLabel value="#{generalDeductionsController.otherReliefsName}" for="reliefRate" id="reliefRateName" />
                                                        <p:inputText id="reliefRate" value="#{generalDeductionsController.deduction.reliefRate}" title="reliefRate" required="true" requiredMessage="The reliefRate field is required."/>

                                                        <p:outputLabel value="Relief Name" for="reliefName" />
                                                        <p:inputText id="reliefName" value="#{generalDeductionsController.deduction.reliefName}" title="reliefName" required="true" requiredMessage="The reliefName field is required."/>

                                                        <p:outputLabel value="Max Relief Amount" for="maxReliefAmount" />
                                                        <p:inputText id="maxReliefAmount" value="#{generalDeductionsController.deduction.maxReliefAmount}" title="maxReliefAmount" required="true" requiredMessage="The maxReliefAmount field is required."/>

                                                    </p:panelGrid>                                                
                                                </p:outputPanel>
                                            </h:panelGroup>
                                        </fieldset>
                                        
                                        <p:commandButton value="Save" action="#{generalDeductionsController.add()}" update="mainform table"/>
                                        
                                        
                                        <p:commandButton value="Delete" actionListener="#{generalDeductionsController.delete(generalDeductionsController.deduction)}" update="mainform table" disabled="false" widgetVar="deletebtn">
                                            <p:confirm header="Confirmation" message="Are you sure you want to DELETE #{generalDeductionsController.deduction.deductionName}?" icon="ui-icon-alert" />
                                        </p:commandButton>
                                    
                                    </h:form>
                                    
                                </p:fieldset>

                            </div>
                        </div>
                        
                        <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                            <p:commandButton value="Yes"  type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" update="mainform table" />
                            <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
                        </p:confirmDialog>
                        
                    </f:view>

                </ui:define>

                <ui:define name="side-Nav">
                    <p:menu>


                    </p:menu>
                </ui:define>
            </ui:composition>
        </h:body>

    </f:view>
    
</html>
