
html, body {
    height: 100%;
    width: 100%;
    background-color: #eee;
}

.active-menu-item {
    border-bottom: 2px solid teal;
    font-weight: 600;
}

.nav.navbar-nav > li > a:hover {
    background-color: #fff;
    color: teal;
    text-decoration: none;
    border-bottom: 1px solid teal;
}

.top-layout , .center-layout {
    margin: 0;
    padding: 0;
    border: 0;
}

.top-layout {
    height: 60px !important;
}

.center-layout {
    height: calc(100% - 60px) !important;
    top: 60px !important;
}

main-company-nav {
    border: 2px solid #333;
}

.ui-layout-unit .ui-layout-unit-content {
    border: 0;
    margin: 0;
    padding: 0;
}
.ui-tabs .ui-tabs-panel {
    border: 0;
    margin: 0;
    padding: 0;
    height: 100%;
}

.ui-tabs {
    padding: 0;
    margin: 0;
    height: calc(100% - 25px);
    border-radius: 0;
}

.ui-tabs-left > .ui-tabs-panels {
    margin: 0;
    padding: 10px;
}

.ui-tabs.ui-tabs-left > .ui-tabs-nav li > a {
    color: #444;
    background-color: inherit;
    font-weight: 500;
    box-shadow: none;
    border: 0;
    width: 100%;
    display: flex;
    align-items: center;
    height: inherit;
    margin: 0;
}

.ui-tabs.ui-tabs-left > .ui-tabs-nav li:hover,  .ui-tabs.ui-tabs-left > .ui-tabs-nav li > a:hover {
    box-shadow: none;
    color: teal;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-selected > a {
     border-right: 3px solid teal;
}

.ui-tabs.ui-tabs-left > .ui-tabs-nav li {
    height: 50px;
    background-color: #eee;
    border: 0;
    margin: 0;
    padding: 0;
}


.ui-tabs-left > .ui-tabs-nav {
    height: 100%;
    width: 150px;
    padding: 0;
    margin: 0;
    border: 0;
    background-color: #eee;
}

.ui-tabs-left > .ui-tabs-panels {
    width: calc(100% - 150px);
    height: 100%;
    background-color: #eee;
}

input {
    border-radius: 3px !important;
    padding: 3px !important;
}
