
.inner-tabs {
    margin: 10px 0px 0px 0px;
    padding: 0;
    height: calc(100% - 35px);
}

.inner-tabs .ui-tabs {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

.inner-tabs .ui-tabs-left > .ui-tabs-nav {
    width: 300px;
    height: 100%;
    padding: 0;
    margin: 0;
    border: 0;
    background-color: #eee;
    overflow: scroll;
}

.inner-tabs .ui-tabs-left > .ui-tabs-panels {
    width: calc(100% - 300px);
    height: 100%;
    background-color: #fff;
}

.inner-tabs .ui-tabs.ui-tabs-left > .ui-tabs-nav li > a {
    color: #444;
    background-color: inherit;
    font-weight: 500;
    box-shadow: none;
    border-radius: 0;
    border: 0;
    width: 100%;
    display: flex;
    align-items: center;
    height: inherit;
    margin: 0;
    padding: auto auto auto 30px;
}

.inner-tabs .ui-tabs.ui-tabs-left > .ui-tabs-nav li:hover, .inner-tabs .ui-tabs.ui-tabs-left > .ui-tabs-nav li > a:hover {
    box-shadow: none;
    color: teal;
}

.inner-tabs .ui-tabs .ui-tabs-nav li.ui-tabs-selected a, .inner-tabs .ui-tabs .ui-tabs-nav li.ui-tabs-selected {
    color: teal;
    background-color: #fff;
    width: 100%;
    font-weight: 600;
     border-right: 3px solid teal;
}

.inner-tabs .ui-tabs.ui-tabs-left > .ui-tabs-nav li {
    height: 30px;
    background-color: #eee;
    border: 0;
    margin: 0;
    padding: 0;
}
