<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <f:view contentType="text/html">
        <h:head>
            <f:facet name="first">
                <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
                <title>FineXtreme HR</title>
            </f:facet>
        </h:head>

        <h:body>
           
         <ui:composition template="/WEB-INF/resources/templates/template.xhtml">
             <ui:define name="content">
                 <f:view>
                     <h:form>
                         <h1><h:outputText value="Edit"/></h1>
                         <p:panelGrid columns="2">
                             <p:outputLabel value="Leave Code:" for="leaveCode" />
                             <p:inputText id="leaveCode" value="#{leaveTypesController.leaveType.leaveCode}" title="LeaveCode" required="true" requiredMessage="The Leave Code field is required."/>
                             <p:outputLabel value="Leave Name:" for="leaveName" />
                             <p:inputText id="leaveName" value="#{leaveTypesController.leaveType.leaveName}" title="LeaveName" required="true" requiredMessage="The Leave Name field is required."/>
                            
                             <p:commandButton value="Save" action="#{leaveTypesController.update()}"/>
                         </p:panelGrid>
                     </h:form>
                 </f:view>

             </ui:define>
             
             <ui:define name="side-Nav">
                 <p:menu>
                    <p:submenu label="Resources">
                       

                    </p:submenu>

                 </p:menu>
             </ui:define>

        </ui:composition>

        </h:body>

    </f:view>
</html>

