<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <f:view contentType="text/html">
        <h:head>
            <f:facet name="first">
                <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
                <title>FineXtreme HR</title>
            </f:facet>
        </h:head>
        <h:body>
            <ui:composition template="/WEB-INF/resources/templates/template.xhtml">
                <ui:define name="content">
                    <f:view>
                        <p:commandButton value="Add New" action="addLeaveType"/>
                        <h:form>                            
                            <h1><h:outputText value="PAYE Brackets"/></h1>
                            <p:dataTable value="#{leaveTypesController.findAll()}" var="leaveType">
                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="Leave Code"/>
                                    </f:facet>
                                    <h:outputText value="#{leaveType.leaveCode}"/>
                                </p:column>
                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="Leave Name"/>
                                    </f:facet>
                                    <h:outputText value="#{leaveType.leaveName}"/>
                                </p:column>
                                 <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="Action"/>
                                    </f:facet>
                                    <p:commandLink value="E" action="#{leaveTypesController.edit(leaveType)}"></p:commandLink> |
                                    <h:commandLink value="D" action="#{leaveTypesController.delete(item)}"  onclick="return confirm('Are you sure you want to delete #{leaveType.leaveName}?')"></h:commandLink>
                                    
                                </p:column>
                            </p:dataTable>
                        </h:form>
                    </f:view>

                </ui:define>
                
                <ui:define name="side-Nav">
                     <p:menu>
                       

                    </p:menu>
                </ui:define>
            </ui:composition>
        </h:body>

    </f:view>
</html>
