<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <f:view contentType="text/html">
        <h:head>
            <f:facet name="first">
                <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
                <title>FineXtreme HR</title>
            </f:facet>
        </h:head>

        <h:body>
           
         <ui:composition template="/WEB-INF/resources/templates/template.xhtml">
             <ui:define name="content">
                 <f:view>
                     <h:form>
                         <h1><h:outputText value="Create/Edit"/></h1>
                         <p:panelGrid columns="2">
                             <p:outputLabel value="EarningCode:" for="earningCode" />
                             <p:inputText id="earningCode" value="#{generalEarningsController.genEarning.earningCode}" title="EarningCode" readonly="true"/>
                             <p:outputLabel value="EarningName:" for="earningName" />
                             <p:inputText id="earningName" value="#{generalEarningsController.genEarning.earningName}" title="EarningName" />
                             <p:outputLabel value="TaxRate:" for="taxRate" />
                             <p:inputText id="taxRate" value="#{generalEarningsController.genEarning.taxRate}" title="TaxRate" required="true" requiredMessage="The TaxRate field is required."/>
                             <p:outputLabel value="PeriodCode:" for="periodCode" />
                             <p:inputText id="periodCode" value="#{generalEarningsController.genEarning.periodCode}" title="PeriodCode" />
                             <p:outputLabel value="Taxable:" for="taxable" />
                             <p:inputText id="taxable" value="#{generalEarningsController.genEarning.taxable}" title="Taxable" required="true" requiredMessage="The Taxable field is required."/>
                             <p:outputLabel value="ConsiderNHIF:" for="considerNHIF" />
                             <p:inputText id="considerNHIF" value="#{generalEarningsController.genEarning.considerNHIF}" title="ConsiderNHIF" />
                             <p:outputLabel value="DoesNotRecur:" for="doesNotRecur" />
                             <p:inputText id="doesNotRecur" value="#{generalEarningsController.genEarning.doesNotRecur}" title="DoesNotRecur" required="true" requiredMessage="The DoesNotRecur field is required."/>
                             <p:outputLabel value="IsBasicSalary:" for="isBasicSalary" />
                             <p:inputText id="isBasicSalary" value="#{generalEarningsController.genEarning.isBasicSalary}" title="IsBasicSalary" />
                             <p:outputLabel value="IsPercOfBasic:" for="isPercOfBasic" />
                             <p:inputText id="isPercOfBasic" value="#{generalEarningsController.genEarning.isPercOfBasic}" title="IsPercOfBasic" required="true" requiredMessage="The IsPercOfBasic field is required."/>
                             <p:outputLabel value="IsHousing:" for="isHousing" />
                             <p:inputText id="isHousing" value="#{generalEarningsController.genEarning.isHousing}" title="IsHousing" />
                             <p:outputLabel value="BasicPerc:" for="basicPerc" />
                             <p:inputText id="basicPerc" value="#{generalEarningsController.genEarning.basicPerc}" title="BasicPerc" required="true" requiredMessage="The BasicPerc field is required."/>
                             <p:commandButton value="Save" action="#{generalEarningsController.update()}"/>
                         </p:panelGrid>
                     </h:form>
                 </f:view>

             </ui:define>
             
             <ui:define name="side-Nav">
                 <p:menu>
                    <p:submenu label="Resources">
                       

                    </p:submenu>

                 </p:menu>
             </ui:define>

        </ui:composition>

        </h:body>

    </f:view>
</html>

