<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <f:view contentType="text/html">
        <h:head>
            <f:facet name="first">
                <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
                <title>FineXtreme HR</title>
            </f:facet>
        </h:head>
        <h:body>
            <ui:composition template="/WEB-INF/resources/templates/template.xhtml">
                <ui:define name="content">
                    <f:view>
                        <h:form>
                            <p:commandButton value="Add New" action="addEarningDef" />
                            <h1><h:outputText value="General Earnings List"/></h1>
                            <p:dataTable value="#{generalEarningsController.findAll()}" var="item">
                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="EarningCode"/>
                                    </f:facet>
                                    <h:outputText value="#{item.earningCode}"/>
                                </p:column>
                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="EarningName"/>
                                    </f:facet>
                                    <h:outputText value="#{item.earningName}"/>
                                </p:column>
                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="TaxRate"/>
                                    </f:facet>
                                    <h:outputText value="#{item.taxRate}"/>
                                </p:column>
                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="PeriodCode"/>
                                    </f:facet>
                                    <h:outputText value="#{item.periodCode}"/>
                                </p:column>
                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="Taxable"/>
                                    </f:facet>
                                    <h:outputText value="#{item.taxable}"/>
                                </p:column>
                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="ConsiderNHIF"/>
                                    </f:facet>
                                    <h:outputText value="#{item.considerNHIF}"/>
                                </p:column>
                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="DoesNotRecur"/>
                                    </f:facet>
                                    <h:outputText value="#{item.doesNotRecur}"/>
                                </p:column>
                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="IsBasicSalary"/>
                                    </f:facet>
                                    <h:outputText value="#{item.isBasicSalary}"/>
                                </p:column>
                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="IsPercOfBasic"/>
                                    </f:facet>
                                    <h:outputText value="#{item.isPercOfBasic}"/>
                                </p:column>
                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="IsHousing"/>
                                    </f:facet>
                                    <h:outputText value="#{item.isHousing}"/>
                                </p:column>
                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="BasicPerc"/>
                                    </f:facet>
                                    <h:outputText value="#{item.basicPerc}"/>
                                </p:column>
                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="Action"/>
                                    </f:facet>
                                    <p:commandLink value="E" action="#{generalEarningsController.edit(item)}"></p:commandLink> |
                                    <h:commandLink value="D" action="#{generalEarningsController.delete(item)}"  onclick="return confirm('Are you sure you want to delete #{item.earningName}?')"></h:commandLink>
                                    
                                </p:column>
                            </p:dataTable>
                        </h:form>
                    </f:view>

                </ui:define>
                
                <ui:define name="side-Nav">
                     <p:menu>
                       

                    </p:menu>
                </ui:define>
            </ui:composition>
        </h:body>

    </f:view>
</html>
