<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"   
      xmlns:p="http://primefaces.org/ui">
    
    <ui:composition >   
        <h:form> 
            <p:menubar >
                <p:submenu label="Company">
                    <p:submenu label="Awards">
                        <p:menuitem value="Add new" outcome="/award/addAward"></p:menuitem>
                        <p:menuitem value="View All" outcome="/award/viewAwards"></p:menuitem>
                    </p:submenu>
                    <p:submenu label="Banks">
                        <p:menuitem value="Add new" outcome="/bank/addBank"></p:menuitem>
                        <p:menuitem value="View All" outcome="/bank/viewBanks"></p:menuitem>
                    </p:submenu>
                    <p:submenu label="Branches">
                        <p:menuitem value="Add new" outcome="/branch/addBranch"></p:menuitem>
                        <p:menuitem value="View All" outcome="/branch/viewBranches"></p:menuitem>
                    </p:submenu>
                    <p:submenu label="Departments">
                        <p:menuitem value="Add new" outcome="/department/addDepartment" ></p:menuitem>
                        <p:menuitem value="View All" outcome="/department/viewDepartments"></p:menuitem>
                    </p:submenu>
                    <p:submenu label="Sections">
                        <p:menuitem value="Add new" outcome="/section/addSection" ></p:menuitem>
                        <p:menuitem value="View All" outcome="/section/viewSections"></p:menuitem>
                    </p:submenu>
                    <p:submenu label="Job Groups Defination">
                        <p:menuitem value="Add new" outcome="/jobgroup/addJobgroup"></p:menuitem>
                        <p:menuitem value="View All" outcome="/jobgroup/viewJobgroups"></p:menuitem>
                    </p:submenu>
                    <p:submenu label="Benefit Definations">
                        <p:menuitem value="Add new" outcome="/benefit/addBenefit"></p:menuitem>
                        <p:menuitem value="View All" outcome="/benefit/viewBenefits"></p:menuitem>
                    </p:submenu>
                    
                   
                </p:submenu>
                <p:submenu label="Parameters">

                </p:submenu>
                <p:submenu label="Personnel Mngt">

                </p:submenu>

            </p:menubar>   
        </h:form>                
          
    </ui:composition>
</html>

