<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
<!--        <h:form enctype="multipart/form-data">

            <p:fileUpload fileUploadListener=""
            mode="advanced" update="display" auto="true" sizeLimit="10000000"
            allowTypes="/(\.|\/)(xls|xlsx)$/" />

                <p:growl id="display" showDetail="true" />
                <h:commandButton action="//\\\\\\\\\\\"
                value="Excel Report" />
        </h:form>          -->

        <h:form enctype="multipart/form-data">
        <p:fileUpload update="tt"
        sizeLimit="1000000"
        fileUploadListener="#{fileUploadManagedBean.handleFileUpload}" mode="advanced"
        allowTypes="/(\.|\/)(xls|xlsx)$/"  />
        <p:growl id="tt" showDetail="true"/>
        </h:form>

    </h:body>
</html>

