<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <f:view contentType="text/html">
        <h:head>
            <f:facet name="first">
                <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
                <title>FineXtreme HR</title>
            </f:facet>
        </h:head>

        <h:body>
           
         <ui:composition template="/WEB-INF/resources/templates/template.xhtml">
             <ui:define name="content">
                 <f:view>
                     <h:form>
                         <h3><h:outputText value="General Parameters"/></h3>
                         <p:panelGrid columns="2">
                             <p:outputLabel value="Personal Relief" for="personalRelief" />
                             <p:inputText id="personalRelief" value="#{generalParametersController.personalRelief}" title="ParamName" required="true" requiredMessage="The ParamName field is required."/>
                            
                             <p:outputLabel value="NSSF Fixed Amount" for="NSSFFValue" />
                             <p:inputText id="NSSFFValue" value="#{generalParametersController.NSSFFigure}" title="ParamValue" />
                             
                             <p:outputLabel value="Max. NSSF Deduction" for="MAXNSSFName" />
                             <p:inputText id="MAXNSSFName" value="#{generalParametersController.maximumNSSF}" title="ParamName" required="true" requiredMessage="The ParamName field is required."/>
                            
                             <p:outputLabel value="Max.Pension Deducted before tax" for="MaxPension" />
                             <p:inputText id="MaxPension" value="#{generalParametersController.maxPensionDeductableB4Tax}" title="ParamValue" />
                             

                             <h:outputText value="Deduct Pension After Tax:" />
                             <p:selectBooleanCheckbox value="#{generalParametersController.deductPensionAfterTax}" />
                             
                             <h:outputText value="Select if NSSF is Percentage:" />
                             <p:selectBooleanCheckbox value="#{generalParametersController.NSSFIsPercentage}" />
                             
                             <h:outputText value="Deduct NHIF After Tax:" />
                             <p:selectBooleanCheckbox value="#{generalParametersController.deductNHIFAfterTax}" />
                             
                             <h:outputText value="Deduct NSSF After Tax:" />
                             <p:selectBooleanCheckbox value="#{generalParametersController.deductNSSFAfterTax}" />
                             
                             <h:outputText value="Deduct Provident After Tax:" />
                             <p:selectBooleanCheckbox value="#{generalParametersController.deductProvidentAfterTax}" />
                             
                             <h:outputText value="Select if NHIF is calculated from basic salary, else uncheck if NHIF is culculated from Gross Pay" />
                             <p:selectBooleanCheckbox value="#{generalParametersController.calculateNHIFFromBasicSalary}" />
                             
                             <h:outputText value="Select if Housing benefit is percentage of GROSS PAY, else Uncheck if is percentage of basic pay." />
                             <p:selectBooleanCheckbox value="#{generalParametersController.housingPercentageOfGross}" />
                             
                             <h:outputText value="Casual Rates Calculated Per Day (not Hour)" />
                             <p:selectBooleanCheckbox value="#{generalParametersController.casualRateIsPerDay}" />
                             
                             <p:outputLabel value="Payroll Numbers are prefixed by" for="PrefixValue" />
                             <p:inputText id="PrefixValue" value="#{generalParametersController.payrollPrefix}" title="ParamValue" />
                             
                             <p:outputLabel value="Housing Percentage" />
                             <p:inputText value="#{generalParametersController.housingPercentage}" />                       
                            
                             
                             <p:commandButton value="Save" action="#{generalParametersController.save()}"/>
                         </p:panelGrid>
                     </h:form>
                     
                 </f:view>

             </ui:define>
             
             <ui:define name="side-Nav">
                 <p:menu>
                    <p:submenu label="Resources">
                       

                    </p:submenu>

                 </p:menu>
             </ui:define>

        </ui:composition>

        </h:body>

    </f:view>
</html>

