<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <f:view contentType="text/html">
        <h:head>
            <f:facet name="first">
                <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
                <title>FineXtreme HR</title>
            </f:facet>
        </h:head>

        <h:body>
           
         <ui:composition template="/WEB-INF/resources/templates/template.xhtml">
             <ui:define name="content">
                 <f:view>
                     <h:form>
                         <h1><h:outputText value="Create/Edit"/></h1>
                         <p:panelGrid columns="2">
                             <p:outputLabel value="Id:" for="id" />
                             <p:inputText id="id" value="#{nHIFBracketsController.nHIFBracket.id}" title="Id" required="true" requiredMessage="The Id field is required."/>
                             <p:outputLabel value="BracketType:" for="bracketType" />
                             <p:inputText id="bracketType" value="#{nHIFBracketsController.nHIFBracket.bracketType}" title="BracketType" />
                             <p:outputLabel value="StartAmount:" for="startAmount" />
                             <p:inputText id="startAmount" value="#{nHIFBracketsController.nHIFBracket.startAmount}" title="StartAmount" required="true" requiredMessage="The StartAmount field is required."/>
                             <p:outputLabel value="ToAmount:" for="toAmount" />
                             <p:inputText id="toAmount" value="#{nHIFBracketsController.nHIFBracket.toAmount}" title="ToAmount" required="true" requiredMessage="The ToAmount field is required."/>
                             <p:outputLabel value="TaxRate:" for="taxRate" />
                             <p:inputText id="taxRate" value="#{nHIFBracketsController.nHIFBracket.taxRate}" title="TaxRate" required="true" requiredMessage="The TaxRate field is required."/>
                             <p:outputLabel value="PlusAmount:" for="plusAmount" />
                             <p:inputText id="plusAmount" value="#{nHIFBracketsController.nHIFBracket.plusAmount}" title="PlusAmount" required="true" requiredMessage="The PlusAmount field is required."/>
                             <p:commandButton value="Save" action="#{nHIFBracketsController.add()}"/>
                         </p:panelGrid>
                     </h:form>
                 </f:view>

             </ui:define>
             
             <ui:define name="side-Nav">
                 <p:menu>
                    <p:submenu label="Resources">
                       

                    </p:submenu>

                 </p:menu>
             </ui:define>

        </ui:composition>

        </h:body>

    </f:view>
</html>

