<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <f:view contentType="text/html">
        <h:head>
            <f:facet name="first">
                <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
                <title>FineXtreme HR</title>
            </f:facet>
        </h:head>

        <h:body>
           
         <ui:composition template="/WEB-INF/resources/templates/template.xhtml">
             <ui:define name="content">
                 <f:view>
                     <h:form>
                         <h1><h:outputText value="Create Staff Category"/></h1>
                         <p:panelGrid columns="2">
                             <p:outputLabel value="CategoryCode:" for="categoryCode" />
                             <p:inputText id="categoryCode" value="#{staffCategoriesController.staffCategory.categoryCode}" title="CategoryCode" />
                             
                             <p:outputLabel value="CategoryName:" for="categoryName" />
                             <p:inputText id="categoryName" value="#{staffCategoriesController.staffCategory.categoryName}" title="CategoryName" />
                             
                             <p:outputLabel value="HasRelief:" for="hasRelief" />                          
                             <p:selectBooleanCheckbox  id="hasRelief" value="#{staffCategoriesController.hasRelief}"  title="HasRelief"/>
 
                            
                             
                             <p:outputLabel value="AutoHousing:" for="autoHousing" />
                             <p:selectBooleanCheckbox id="autoHousing" value="#{staffCategoriesController.autoHousing}"  title="AutoHousing"/>
                            
                             
                             <p:outputLabel value="ExcemptedFromPaye:" for="excemptedFromPaye" />
                             <p:selectBooleanCheckbox  id="excemptedFromPaye" value="#{staffCategoriesController.excemptedFromPaye}"  title="ExcemptedFromPaye"/>
                             
                            
                             
                             <p:commandButton value="Save" action="#{staffCategoriesController.add()}"/>
                         </p:panelGrid>
                     </h:form>
                 </f:view>

             </ui:define>
             
             <ui:define name="side-Nav">
                 <p:menu>
                    <p:submenu label="Resources">
                       

                    </p:submenu>

                 </p:menu>
             </ui:define>

        </ui:composition>

        </h:body>

    </f:view>
</html>

