<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <f:view contentType="text/html">
        <h:head>
            <f:facet name="first">
                <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
                <title>FineXtreme HR</title>
            </f:facet>
        </h:head>

        <h:body>
           
         <ui:composition template="/WEB-INF/resources/templates/template.xhtml">
             <ui:define name="content">
                 <f:view>
                     <h:form>
                         <h1><h:outputText value="Create Casual Category"/></h1>
                         <p:panelGrid columns="2">
                             <p:outputLabel value="CategoryCode:" for="categoryCode" />
                             <p:inputText id="categoryCode" value="#{casualcategoriesController.casualcategory.categoryCode}" title="CategoryCode" required="true" requiredMessage="The CategoryCode field is required."/>
                             <p:outputLabel value="CategoryName:" for="categoryName" />
                             <p:inputText id="categoryName" value="#{casualcategoriesController.casualcategory.categoryName}" title="CategoryName" required="true" requiredMessage="The CategoryName field is required."/>
                             <p:outputLabel value="DefaultRate:" for="defaultRate" />
                             <p:inputText id="defaultRate" value="#{casualcategoriesController.casualcategory.defaultRate}" title="DefaultRate" required="true" requiredMessage="The DefaultRate field is required."/>
                             <p:commandButton value=" Save" action="#{casualcategoriesController.add()}"/>
                         </p:panelGrid>
                     </h:form>
                 </f:view>

             </ui:define>
             
             <ui:define name="side-Nav">
                 <p:menu>
                    <p:submenu label="Resources">
                       

                    </p:submenu>

                 </p:menu>
             </ui:define>

        </ui:composition>

        </h:body>

    </f:view>
</html>

