<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <f:view contentType="text/html">
        <h:head>
            <f:facet name="first">
                <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
                <title>FineXtreme HR</title>
            </f:facet>
        </h:head>
        <h:body>
            <ui:composition template="/WEB-INF/resources/templates/template.xhtml">
                <ui:define name="content">
                    <f:view>
                        <h:form>
                            <p:commandButton value="Add new" action="addCasualcategory" />
                            <h1><h:outputText value="Casual Categories"/></h1>
                            <p:dataTable value="#{casualcategoriesController.findAll()}" var="item">
                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="CategoryCode"/>
                                    </f:facet>
                                    <h:outputText value="#{item.categoryCode}"/>
                                </p:column>
                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="CategoryName"/>
                                    </f:facet>
                                    <h:outputText value="#{item.categoryName}"/>
                                </p:column>
                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="DefaultRate"/>
                                    </f:facet>
                                    <h:outputText value="#{item.defaultRate}"/>
                                </p:column>
                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="Action"/>
                                    </f:facet>
                                    <p:commandLink value="E" action="#{casualcategoriesController.edit(item)}"></p:commandLink> |
                                    <h:commandLink value="D" action="#{casualcategoriesController.delete(item)}"  onclick="return confirm('Are you sure you want to delete #{item.categoryName}?')"></h:commandLink>                                    
                                </p:column>
                            </p:dataTable>
                        </h:form>
                    </f:view>

                </ui:define>
                
                <ui:define name="side-Nav">
                     <p:menu>
                       

                    </p:menu>
                </ui:define>
            </ui:composition>
        </h:body>

    </f:view>
</html>
