<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <f:view contentType="text/html">
        <h:head>
            <f:facet name="first">
                <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
                <title>FineXtreme HR</title>
            </f:facet>
        </h:head>

        <h:body>
            <ui:composition template="/WEB-INF/resources/templates/template.xhtml">
                <ui:define name="content">
                    <f:view>

                        <h:form>
                            <h1><h:outputText value="Are you sure you want to delete?"/></h1>
                            <p:panelGrid columns="2">
                                <h:outputText value="PayrollNo:"/>
                                <h:outputText value="#{empController.employees.payrollNo}" title="PayrollNo"/>
                                <h:outputText value="IDNo:"/>
                                <h:outputText value="#{empController.employees.IDNo}" title="IDNo"/>
                                <h:outputText value="BankAccountNumber:"/>
                                <h:outputText value="#{empController.employees.bankAccountNumber}" title="BankAccountNumber"/>
                                <h:outputText value="Surname:"/>
                                <h:outputText value="#{empController.employees.surname}" title="Surname"/>
                                <h:outputText value="OtherName:"/>
                                <h:outputText value="#{empController.employees.otherName}" title="OtherName"/>
                                <h:outputText value="EmploymentDate:"/>
                                <h:outputText value="#{empController.employees.employmentDate}" title="EmploymentDate"/>
                                <h:outputText value="IsHoused:"/>
                                <h:outputText value="#{empController.employees.isHoused}" title="IsHoused"/>
                                <h:outputText value="RetirementAge:"/>
                                <h:outputText value="#{empController.employees.retirementAge}" title="RetirementAge"/>
                                <h:outputText value="DOB:"/>
                                <h:outputText value="#{empController.employees.DOB}" title="DOB"/>
                                <h:outputText value="DeductPensionSelfAs:"/>
                                <h:outputText value="#{empController.employees.deductPensionSelfAs}" title="DeductPensionSelfAs"/>
                                <h:outputText value="DeductPensionCompanyAs:"/>
                                <h:outputText value="#{empController.employees.deductPensionCompanyAs}" title="DeductPensionCompanyAs"/>
                                <h:outputText value="Address:"/>
                                <h:outputText value="#{empController.employees.address}" title="Address"/>
                                <h:outputText value="StaffType:"/>
                                <h:outputText value="#{empController.employees.staffType}" title="StaffType"/>
                                <h:outputText value="Sex:"/>
                                <h:outputText value="#{empController.employees.sex}" title="Sex"/>
                                <h:outputText value="NSSF_No:"/>
                                <h:outputText value="#{empController.employees.NSSF_No}" title="NSSF_No"/>
                                <h:outputText value="NHIF_No:"/>
                                <h:outputText value="#{empController.employees.NHIF_No}" title="NHIF_No"/>
                                <h:outputText value="PensionNo:"/>
                                <h:outputText value="#{empController.employees.pensionNo}" title="PensionNo"/>
                                <h:outputText value="CoopNo:"/>
                                <h:outputText value="#{empController.employees.coopNo}" title="CoopNo"/>
                                <h:outputText value="Mode_Of_Pay:"/>
                                <h:outputText value="#{empController.employees.mode_Of_Pay}" title="Mode_Of_Pay"/>
                                <h:outputText value="Pension:"/>
                                <h:outputText value="#{empController.employees.pension}" title="Pension"/>
                                <h:outputText value="BankCode:"/>
                                <h:outputText value="#{empController.employees.bankCode}" title="BankCode"/>
                                <h:outputText value="BranchCode:"/>
                                <h:outputText value="#{empController.employees.branchCode}" title="BranchCode"/>
                                <h:outputText value="JobGroupCode:"/>
                                <h:outputText value="#{empController.employees.jobGroupCode}" title="JobGroupCode"/>
                                <h:outputText value="DepartmentCode:"/>
                                <h:outputText value="#{empController.employees.departmentCode}" title="DepartmentCode"/>
                                <h:outputText value="SectionCode:"/>
                                <h:outputText value="#{empController.employees.sectionCode}" title="SectionCode"/>
                                <h:outputText value="MaritalStatus:"/>
                                <h:outputText value="#{empController.employees.maritalStatus}" title="MaritalStatus"/>
                                <h:outputText value="ExemptedFromNSSF:"/>
                                <h:outputText value="#{empController.employees.exemptedFromNSSF}" title="ExemptedFromNSSF"/>
                                <h:outputText value="ExemptedFromNHIF:"/>
                                <h:outputText value="#{empController.employees.exemptedFromNHIF}" title="ExemptedFromNHIF"/>
                                <h:outputText value="PensionSelfBF:"/>
                                <h:outputText value="#{empController.employees.pensionSelfBF}" title="PensionSelfBF"/>
                                <h:outputText value="PensionCompanyBF:"/>
                                <h:outputText value="#{empController.employees.pensionCompanyBF}" title="PensionCompanyBF"/>
                                <h:outputText value="PensionSelf:"/>
                                <h:outputText value="#{empController.employees.pensionSelf}" title="PensionSelf"/>
                                <h:outputText value="PensionCompany:"/>
                                <h:outputText value="#{empController.employees.pensionCompany}" title="PensionCompany"/>
                                <h:outputText value="ProvidentSelfMode:"/>
                                <h:outputText value="#{empController.employees.providentSelfMode}" title="ProvidentSelfMode"/>
                                <h:outputText value="ProvidentCompanyMode:"/>
                                <h:outputText value="#{empController.employees.providentCompanyMode}" title="ProvidentCompanyMode"/>
                                <h:outputText value="Provident:"/>
                                <h:outputText value="#{empController.employees.provident}" title="Provident"/>
                                <h:outputText value="ProvidentSelfBF:"/>
                                <h:outputText value="#{empController.employees.providentSelfBF}" title="ProvidentSelfBF"/>
                                <h:outputText value="ProvidentCompanyBF:"/>
                                <h:outputText value="#{empController.employees.providentCompanyBF}" title="ProvidentCompanyBF"/>
                                <h:outputText value="ProvidentSelf:"/>
                                <h:outputText value="#{empController.employees.providentSelf}" title="ProvidentSelf"/>
                                <h:outputText value="ProvidentCompany:"/>
                                <h:outputText value="#{empController.employees.providentCompany}" title="ProvidentCompany"/>
                                <h:outputText value="EmployeePIN:"/>
                                <h:outputText value="#{empController.employees.employeePIN}" title="EmployeePIN"/>
                                <h:outputText value="NSSFSelf:"/>
                                <h:outputText value="#{empController.employees.NSSFSelf}" title="NSSFSelf"/>
                                <h:outputText value="NSSFSelfBF:"/>
                                <h:outputText value="#{empController.employees.NSSFSelfBF}" title="NSSFSelfBF"/>
                                <h:outputText value="NSSFCompany:"/>
                                <h:outputText value="#{empController.employees.NSSFCompany}" title="NSSFCompany"/>
                                <h:outputText value="NSSFCompanyBF:"/>
                                <h:outputText value="#{empController.employees.NSSFCompanyBF}" title="NSSFCompanyBF"/>
                                <h:outputText value="Status:"/>
                                <h:outputText value="#{empController.employees.status}" title="Status"/>
                                <h:outputText value="EmpPass:"/>
                                <h:outputText value="#{empController.employees.empPass}" title="EmpPass"/>
                                <h:outputText value="BloodGroup:"/>
                                <h:outputText value="#{empController.employees.bloodGroup}" title="BloodGroup"/>
                                <h:outputText value="CellPhone:"/>
                                <h:outputText value="#{empController.employees.cellPhone}" title="CellPhone"/>
                                <h:outputText value="EmailAddress:"/>
                                <h:outputText value="#{empController.employees.emailAddress}" title="EmailAddress"/>
                                <p:commandButton action="#{empController.deleteEmployee()}" value="Delete Employee" />
                            </p:panelGrid>
                        </h:form>
                    </f:view>
                    
                </ui:define>
            </ui:composition>
        </h:body>
    </f:view>
</html>

