<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <f:view contentType="text/html">
        <h:head>
            <f:facet name="first">
                <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
                <title>FineXtreme HR</title>
            </f:facet>
        </h:head>

        <h:body>
            <ui:composition template="/WEB-INF/resources/templates/template.xhtml">
                <ui:define name="content">
                    <f:view>


                        <h:form>
                            <h1><h:outputText value="Edit Employee"/></h1>
                            <p:panelGrid columns="2">
                                <p:outputLabel value="PayrollNo:" for="payrollNo" />
                                <p:inputText id="payrollNo" value="#{empController.employees.payrollNo}" title="PayrollNo" />
                                <p:outputLabel value="IDNo:" for="IDNo" />
                                <p:inputText id="IDNo" value="#{empController.employees.IDNo}" title="IDNo" />
                                <p:outputLabel value="BankAccountNumber:" for="bankAccountNumber" />
                                <p:inputText id="bankAccountNumber" value="#{empController.employees.bankAccountNumber}" title="BankAccountNumber" />
                                <p:outputLabel value="Surname:" for="surname" />
                                <p:inputText id="surname" value="#{empController.employees.surname}" title="Surname" />
                                <p:outputLabel value="OtherName:" for="otherName" />
                                <p:inputText id="otherName" value="#{empController.employees.otherName}" title="OtherName" />
                                <p:outputLabel value="EmploymentDate:" for="employmentDate" />
                                <p:inputText id="employmentDate" value="#{empController.employees.employmentDate}" title="EmploymentDate" />
                                <p:outputLabel value="IsHoused:" for="isHoused" />
                                <p:inputText id="isHoused" value="#{empController.employees.isHoused}" title="IsHoused" />
                                <p:outputLabel value="RetirementAge:" for="retirementAge" />
                                <p:inputText id="retirementAge" value="#{empController.employees.retirementAge}" title="RetirementAge" />
                                <p:outputLabel value="DOB:" for="DOB" />
                                <p:inputText id="DOB" value="#{empController.employees.DOB}" title="DOB" />
                                <p:outputLabel value="DeductPensionSelfAs:" for="deductPensionSelfAs" />
                                <p:inputText id="deductPensionSelfAs" value="#{empController.employees.deductPensionSelfAs}" title="DeductPensionSelfAs" />
                                <p:outputLabel value="DeductPensionCompanyAs:" for="deductPensionCompanyAs" />
                                <p:inputText id="deductPensionCompanyAs" value="#{empController.employees.deductPensionCompanyAs}" title="DeductPensionCompanyAs" />
                                <p:outputLabel value="Address:" for="address" />
                                <p:inputText id="address" value="#{empController.employees.address}" title="Address" />
                                <p:outputLabel value="StaffType:" for="staffType" />
                                <p:inputText id="staffType" value="#{empController.employees.staffType}" title="StaffType" />
                                <p:outputLabel value="Sex:" for="sex" />
                                <p:inputText id="sex" value="#{empController.employees.sex}" title="Sex" required="true" requiredMessage="The Sex field is required."/>
                                <p:outputLabel value="NSSF_No:" for="NSSF_No" />
                                <p:inputText id="NSSF_No" value="#{empController.employees.NSSF_No}" title="NSSF_No" />
                                <p:outputLabel value="NHIF_No:" for="NHIF_No" />
                                <p:inputText id="NHIF_No" value="#{empController.employees.NHIF_No}" title="NHIF_No" />
                                <p:outputLabel value="PensionNo:" for="pensionNo" />
                                <p:inputText id="pensionNo" value="#{empController.employees.pensionNo}" title="PensionNo" />
                                <p:outputLabel value="CoopNo:" for="coopNo" />
                                <p:inputText id="coopNo" value="#{empController.employees.coopNo}" title="CoopNo" />
                                <p:outputLabel value="Mode_Of_Pay:" for="mode_Of_Pay" />
                                <p:inputText id="mode_Of_Pay" value="#{empController.employees.mode_Of_Pay}" title="Mode_Of_Pay" />
                                <p:outputLabel value="Pension:" for="pension" />
                                <p:inputText id="pension" value="#{empController.employees.pension}" title="Pension" />
                                <p:outputLabel value="BankCode:" for="bankCode" />
                                <p:inputText id="bankCode" value="#{empController.employees.bankCode}" title="BankCode" />
                                <p:outputLabel value="BranchCode:" for="branchCode" />
                                <p:inputText id="branchCode" value="#{empController.employees.branchCode}" title="BranchCode" />
                                <p:outputLabel value="JobGroupCode:" for="jobGroupCode" />
                                <p:inputText id="jobGroupCode" value="#{empController.employees.jobGroupCode}" title="JobGroupCode" />
                                <p:outputLabel value="DepartmentCode:" for="departmentCode" />
                                <p:inputText id="departmentCode" value="#{empController.employees.departmentCode}" title="DepartmentCode" />
                                <p:outputLabel value="SectionCode:" for="sectionCode" />
                                <p:inputText id="sectionCode" value="#{empController.employees.sectionCode}" title="SectionCode" />
                                <p:outputLabel value="MaritalStatus:" for="maritalStatus" />
                                <p:inputText id="maritalStatus" value="#{empController.employees.maritalStatus}" title="MaritalStatus" />
                                <p:outputLabel value="ExemptedFromNSSF:" for="exemptedFromNSSF" />
                                <p:inputText id="exemptedFromNSSF" value="#{empController.employees.exemptedFromNSSF}" title="ExemptedFromNSSF" />
                                <p:outputLabel value="ExemptedFromNHIF:" for="exemptedFromNHIF" />
                                <p:inputText id="exemptedFromNHIF" value="#{empController.employees.exemptedFromNHIF}" title="ExemptedFromNHIF" />
                                <p:outputLabel value="PensionSelfBF:" for="pensionSelfBF" />
                                <p:inputText id="pensionSelfBF" value="#{empController.employees.pensionSelfBF}" title="PensionSelfBF" />
                                <p:outputLabel value="PensionCompanyBF:" for="pensionCompanyBF" />
                                <p:inputText id="pensionCompanyBF" value="#{empController.employees.pensionCompanyBF}" title="PensionCompanyBF" />
                                <p:outputLabel value="PensionSelf:" for="pensionSelf" />
                                <p:inputText id="pensionSelf" value="#{empController.employees.pensionSelf}" title="PensionSelf" />
                                <p:outputLabel value="PensionCompany:" for="pensionCompany" />
                                <p:inputText id="pensionCompany" value="#{empController.employees.pensionCompany}" title="PensionCompany" />
                                <p:outputLabel value="ProvidentSelfMode:" for="providentSelfMode" />
                                <p:inputText id="providentSelfMode" value="#{empController.employees.providentSelfMode}" title="ProvidentSelfMode" />
                                <p:outputLabel value="ProvidentCompanyMode:" for="providentCompanyMode" />
                                <p:inputText id="providentCompanyMode" value="#{empController.employees.providentCompanyMode}" title="ProvidentCompanyMode" />
                                <p:outputLabel value="Provident:" for="provident" />
                                <p:inputText id="provident" value="#{empController.employees.provident}" title="Provident" />
                                <p:outputLabel value="ProvidentSelfBF:" for="providentSelfBF" />
                                <p:inputText id="providentSelfBF" value="#{empController.employees.providentSelfBF}" title="ProvidentSelfBF" />
                                <p:outputLabel value="ProvidentCompanyBF:" for="providentCompanyBF" />
                                <p:inputText id="providentCompanyBF" value="#{empController.employees.providentCompanyBF}" title="ProvidentCompanyBF" />
                                <p:outputLabel value="ProvidentSelf:" for="providentSelf" />
                                <p:inputText id="providentSelf" value="#{empController.employees.providentSelf}" title="ProvidentSelf" />
                                <p:outputLabel value="ProvidentCompany:" for="providentCompany" />
                                <p:inputText id="providentCompany" value="#{empController.employees.providentCompany}" title="ProvidentCompany" />
                                <p:outputLabel value="EmployeePIN:" for="employeePIN" />
                                <p:inputText id="employeePIN" value="#{empController.employees.employeePIN}" title="EmployeePIN" />
                                <p:outputLabel value="NSSFSelf:" for="NSSFSelf" />
                                <p:inputText id="NSSFSelf" value="#{empController.employees.NSSFSelf}" title="NSSFSelf" />
                                <p:outputLabel value="NSSFSelfBF:" for="NSSFSelfBF" />
                                <p:inputText id="NSSFSelfBF" value="#{empController.employees.NSSFSelfBF}" title="NSSFSelfBF" />
                                <p:outputLabel value="NSSFCompany:" for="NSSFCompany" />
                                <p:inputText id="NSSFCompany" value="#{empController.employees.NSSFCompany}" title="NSSFCompany" />
                                <p:outputLabel value="NSSFCompanyBF:" for="NSSFCompanyBF" />
                                <p:inputText id="NSSFCompanyBF" value="#{empController.employees.NSSFCompanyBF}" title="NSSFCompanyBF" />
                                <p:outputLabel value="Status:" for="status" />
                                <p:inputText id="status" value="#{empController.employees.status}" title="Status" />
                                <p:outputLabel value="EmpPass:" for="empPass" />
                                <p:inputText id="empPass" value="#{empController.employees.empPass}" title="EmpPass" />
                                <p:outputLabel value="BloodGroup:" for="bloodGroup" />
                                <p:inputText id="bloodGroup" value="#{empController.employees.bloodGroup}" title="BloodGroup" />
                                <p:outputLabel value="CellPhone:" for="cellPhone" />
                                <p:inputText id="cellPhone" value="#{empController.employees.cellPhone}" title="CellPhone" />
                                <p:outputLabel value="EmailAddress:" for="emailAddress" />
                                <p:inputText id="emailAddress" value="#{empController.employees.emailAddress}" title="EmailAddress" />
                                <p:commandButton action="#{empController.updateEmployee()}" value="Save Employee" />
                            </p:panelGrid>
                        </h:form>
                    </f:view>

                </ui:define>
            </ui:composition>
        </h:body>
    </f:view>
</html>
