<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <f:view contentType="text/html">
        <h:head>
            <f:facet name="first">
                <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
                <title>FineXtreme HR</title>
            </f:facet>
        </h:head>

        <h:body>
            <ui:composition template="/WEB-INF/resources/templates/template.xhtml">
                <ui:define name="content">
                    
                    <p:commandLink action="#{empController.getCreatePage()}" value="create new Employee" />
                    
                    <f:view>
                        <h:form>
                            <h1><h:outputText value="List"/></h1>
                            <p:dataTable value="#{empController.allEmployees}" resizableColumns="true" var="item">
                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="PayrollNo"/>
                                    </f:facet>
                                    <h:outputText value="#{item.payrollNo}"/>
                                </p:column>
                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="IDNo"/>
                                    </f:facet>
                                    <h:outputText value="#{item.IDNo}"/>
                                </p:column>
                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="BankAccountNumber"/>
                                    </f:facet>
                                    <h:outputText value="#{item.bankAccountNumber}"/>
                                </p:column>
                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="Surname"/>
                                    </f:facet>
                                    <h:outputText value="#{item.surname}"/>
                                </p:column>
                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="OtherName"/>
                                    </f:facet>
                                    <h:outputText value="#{item.otherName}"/>
                                </p:column>
                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="EmploymentDate"/>
                                    </f:facet>
                                    <h:outputText value="#{item.employmentDate}"/>
                                </p:column>
                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="IsHoused"/>
                                    </f:facet>
                                    <h:outputText value="#{item.isHoused}"/>
                                </p:column>
                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="RetirementAge"/>
                                    </f:facet>
                                    <h:outputText value="#{item.retirementAge}"/>
                                </p:column>
                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="DOB"/>
                                    </f:facet>
                                    <h:outputText value="#{item.DOB}"/>
                                </p:column>
                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="DeductPensionSelfAs"/>
                                    </f:facet>
                                    <h:outputText value="#{item.deductPensionSelfAs}"/>
                                </p:column>
                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="DeductPensionCompanyAs"/>
                                    </f:facet>
                                    <h:outputText value="#{item.deductPensionCompanyAs}"/>
                                </p:column>
                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="Address"/>
                                    </f:facet>
                                    <h:outputText value="#{item.address}"/>
                                </p:column>
                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="StaffType"/>
                                    </f:facet>
                                    <h:outputText value="#{item.staffType}"/>
                                </p:column>
                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="Sex"/>
                                    </f:facet>
                                    <h:outputText value="#{item.sex}"/>
                                </p:column>
                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="NSSF_No"/>
                                    </f:facet>
                                    <h:outputText value="#{item.NSSF_No}"/>
                                </p:column>
                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="NHIF_No"/>
                                    </f:facet>
                                    <h:outputText value="#{item.NHIF_No}"/>
                                </p:column>
                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="PensionNo"/>
                                    </f:facet>
                                    <h:outputText value="#{item.pensionNo}"/>
                                </p:column>
                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="CoopNo"/>
                                    </f:facet>
                                    <h:outputText value="#{item.coopNo}"/>
                                </p:column>
                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="Mode_Of_Pay"/>
                                    </f:facet>
                                    <h:outputText value="#{item.mode_Of_Pay}"/>
                                </p:column>
                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="Pension"/>
                                    </f:facet>
                                    <h:outputText value="#{item.pension}"/>
                                </p:column>
                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="BankCode"/>
                                    </f:facet>
                                    <h:outputText value="#{item.bankCode}"/>
                                </p:column>
                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="BranchCode"/>
                                    </f:facet>
                                    <h:outputText value="#{item.branchCode}"/>
                                </p:column>
                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="JobGroupCode"/>
                                    </f:facet>
                                    <h:outputText value="#{item.jobGroupCode}"/>
                                </p:column>
                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="DepartmentCode"/>
                                    </f:facet>
                                    <h:outputText value="#{item.departmentCode}"/>
                                </p:column>
                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="SectionCode"/>
                                    </f:facet>
                                    <h:outputText value="#{item.sectionCode}"/>
                                </p:column>
                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="MaritalStatus"/>
                                    </f:facet>
                                    <h:outputText value="#{item.maritalStatus}"/>
                                </p:column>
                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="ExemptedFromNSSF"/>
                                    </f:facet>
                                    <h:outputText value="#{item.exemptedFromNSSF}"/>
                                </p:column>
                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="ExemptedFromNHIF"/>
                                    </f:facet>
                                    <h:outputText value="#{item.exemptedFromNHIF}"/>
                                </p:column>
                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="PensionSelfBF"/>
                                    </f:facet>
                                    <h:outputText value="#{item.pensionSelfBF}"/>
                                </p:column>
                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="PensionCompanyBF"/>
                                    </f:facet>
                                    <h:outputText value="#{item.pensionCompanyBF}"/>
                                </p:column>
                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="PensionSelf"/>
                                    </f:facet>
                                    <h:outputText value="#{item.pensionSelf}"/>
                                </p:column>
                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="PensionCompany"/>
                                    </f:facet>
                                    <h:outputText value="#{item.pensionCompany}"/>
                                </p:column>
                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="ProvidentSelfMode"/>
                                    </f:facet>
                                    <h:outputText value="#{item.providentSelfMode}"/>
                                </p:column>
                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="ProvidentCompanyMode"/>
                                    </f:facet>
                                    <h:outputText value="#{item.providentCompanyMode}"/>
                                </p:column>
                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="Provident"/>
                                    </f:facet>
                                    <h:outputText value="#{item.provident}"/>
                                </p:column>
                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="ProvidentSelfBF"/>
                                    </f:facet>
                                    <h:outputText value="#{item.providentSelfBF}"/>
                                </p:column>
                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="ProvidentCompanyBF"/>
                                    </f:facet>
                                    <h:outputText value="#{item.providentCompanyBF}"/>
                                </p:column>
                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="ProvidentSelf"/>
                                    </f:facet>
                                    <h:outputText value="#{item.providentSelf}"/>
                                </p:column>
                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="ProvidentCompany"/>
                                    </f:facet>
                                    <h:outputText value="#{item.providentCompany}"/>
                                </p:column>
                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="EmployeePIN"/>
                                    </f:facet>
                                    <h:outputText value="#{item.employeePIN}"/>
                                </p:column>
                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="NSSFSelf"/>
                                    </f:facet>
                                    <h:outputText value="#{item.NSSFSelf}"/>
                                </p:column>
                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="NSSFSelfBF"/>
                                    </f:facet>
                                    <h:outputText value="#{item.NSSFSelfBF}"/>
                                </p:column>
                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="NSSFCompany"/>
                                    </f:facet>
                                    <h:outputText value="#{item.NSSFCompany}"/>
                                </p:column>
                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="NSSFCompanyBF"/>
                                    </f:facet>
                                    <h:outputText value="#{item.NSSFCompanyBF}"/>
                                </p:column>
                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="Status"/>
                                    </f:facet>
                                    <h:outputText value="#{item.status}"/>
                                </p:column>
                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="EmpPass"/>
                                    </f:facet>
                                    <h:outputText value="#{item.empPass}"/>
                                </p:column>
                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="BloodGroup"/>
                                    </f:facet>
                                    <h:outputText value="#{item.bloodGroup}"/>
                                </p:column>
                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="CellPhone"/>
                                    </f:facet>
                                    <h:outputText value="#{item.cellPhone}"/>
                                </p:column>
                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="EmailAddress"/>
                                    </f:facet>
                                    <h:outputText value="#{item.emailAddress}"/>
                                </p:column>
                                <p:column>
                                    <f:facet name="Edit">
                                        <h:outputText value="Edit Employee"/>
                                    </f:facet>
                                    <p:commandButton action="#{empController.editEmployee(item)}" value="Edit"/>
                                </p:column>
                                <p:column>
                                    <f:facet name="Edit">
                                        <h:outputText value="Delete Employee"/>
                                    </f:facet>
                                    <p:commandButton action="#{empController.deletePage(employees)}" value="Delete"/>
                                </p:column>
                            </p:dataTable>
                        </h:form>
                    </f:view>
                </ui:define>
            </ui:composition>
        </h:body>
    </f:view>
</html>
