<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    
    <ui:composition template="base.xhtml">
        <ui:define name="title">
            <title>Fine_Xtreme | Account</title>
        </ui:define>
        
        <ui:define name="account-temp">
            <li role="presentation" class="active-menu-item">
                <p:link value="Account"/>               
            </li>
           
        </ui:define>
        <ui:define name="content">
           <p:tabView orientation="left">
                <p:tab title="Banks">
                    <h:form>
                            <p:commandButton value="Add New" action="addDeduction"/>
                            <h1><h:outputText value="List"/></h1>
                            <p:dataTable value="#{generalDeductionsController.findAll()}" var="item">
                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="DeductionCode"/>
                                    </f:facet>
                                    <h:outputText value="#{item.deductionCode}"/>
                                </p:column>
                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="DeductionName"/>
                                    </f:facet>
                                    <h:outputText value="#{item.deductionName}"/>
                                </p:column>
                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="IsLoanDeduction"/>
                                    </f:facet>
                                    <h:outputText value="#{item.isLoanDeduction}"/>
                                </p:column>
                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="LoanShortName"/>
                                    </f:facet>
                                    <h:outputText value="#{item.loanShortName}"/>
                                </p:column>
                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="IsDefaultSaccoDeduction"/>
                                    </f:facet>
                                    <h:outputText value="#{item.isDefaultSaccoDeduction}"/>
                                </p:column>
                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="InterestType"/>
                                    </f:facet>
                                    <h:outputText value="#{item.interestType}"/>
                                </p:column>
                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="ReliefIsPercentage"/>
                                    </f:facet>
                                    <h:outputText value="#{item.reliefIsPercentage}"/>
                                </p:column>
                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="ReliefName"/>
                                    </f:facet>
                                    <h:outputText value="#{item.reliefName}"/>
                                </p:column>
                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="HasBal"/>
                                    </f:facet>
                                    <h:outputText value="#{item.hasBal}"/>
                                </p:column>
                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="IsIncreasing"/>
                                    </f:facet>
                                    <h:outputText value="#{item.isIncreasing}"/>
                                </p:column>
                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="IsVoluntaryNSSF"/>
                                    </f:facet>
                                    <h:outputText value="#{item.isVoluntaryNSSF}"/>
                                </p:column>
                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="IsHousing"/>
                                    </f:facet>
                                    <h:outputText value="#{item.isHousing}"/>
                                </p:column>
                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="DeductBy"/>
                                    </f:facet>
                                    <h:outputText value="#{item.deductBy}"/>
                                </p:column>
                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="DeductAfterTax"/>
                                    </f:facet>
                                    <h:outputText value="#{item.deductAfterTax}"/>
                                </p:column>
                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="IsWelfareFund"/>
                                    </f:facet>
                                    <h:outputText value="#{item.isWelfareFund}"/>
                                </p:column>
                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="DoesNotRecur"/>
                                    </f:facet>
                                    <h:outputText value="#{item.doesNotRecur}"/>
                                </p:column>
                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="IsSaccoLoan"/>
                                    </f:facet>
                                    <h:outputText value="#{item.isSaccoLoan}"/>
                                </p:column>
                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="IsSaccoSaving"/>
                                    </f:facet>
                                    <h:outputText value="#{item.isSaccoSaving}"/>
                                </p:column>
                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="IntType"/>
                                    </f:facet>
                                    <h:outputText value="#{item.intType}"/>
                                </p:column>
                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="Action"/>
                                    </f:facet>
                                    <p:commandLink value="E" action="#{generalDeductionsController.edit(item)}"></p:commandLink> | 
                                    <h:commandLink value="D" action="#{generalDeductionsController.delete(item)}"  onclick="return confirm('Are you sure you want to delete #{item.deductionName}?')"></h:commandLink> 
                                    
                                </p:column>
                            </p:dataTable>
                        </h:form>
                </p:tab>
                <p:tab title="Departments">
                    
                </p:tab>
                <p:tab title="Job Groups">
                    
                </p:tab>
                <p:tab title="Benefits">
                    
                </p:tab>
                <p:tab title="Awards">
                    
                </p:tab>
            </p:tabView>
        </ui:define>
        
    </ui:composition>
</html>

