<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    
    <ui:composition>
        <h:head>
            <ui:insert name="title">
                <title>Fin-Xtreme</title>
            </ui:insert>
            <meta charset="utf-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1" />
            <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        </h:head>
        <h:body>
            <p:layout fullPage="true">
                <p:layoutUnit position="north" styleClass="top-layout">
                    <div class="col-md-12">
                        <div class="col-md-6 col-md-offset-6">
                            <ul class="nav navbar-nav" >
                                <ui:insert name="company-temp">
                                    <li role="presentation"><p:link value="Company" outcome="company.xhtml"/></li>
                                </ui:insert>
                                <ui:insert name="parameters-temp">
                                    <li role="presentation"><p:link value="Parameters" outcome="parameters.xhtml"/></li>
                                </ui:insert>
                                <ui:insert name="uman-temp">
                                    <li role="presentation"><p:link value="User Management" outcome="user_management.xhtml"/></li>
                                </ui:insert>
                                <ui:insert name="account-temp">
                                    <li role="presentation"><p:link value="Account" outcome="account.xhtml"/></li>
                                </ui:insert>
                            </ul>
                        </div>
                    </div>
                </p:layoutUnit>
                <p:layoutUnit position="center" styleClass="center-layout">
                    <p:tabView orientation="left" styleClass="main-company-nav">
                        <ui:insert name="content" />
                    </p:tabView>
               </p:layoutUnit>
            </p:layout>
            
            <h:outputStylesheet library="bootstrap" name="css/bootstrap.min.css"></h:outputStylesheet>
            <h:outputStylesheet name="base.css"/>
            
            <ui:insert name="custom-js-css" />s
        </h:body>
    </ui:composition>
</html>

