<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
       xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    
    <ui:composition template="base.xhtml">
        <ui:define name="title">
            <title>Fine_Xtreme | Company</title>
        </ui:define>
        <ui:define name="company-temp">
            <li role="presentation" class="active-menu-item">
                <p:link value="Company"/>
            </li>
        </ui:define>
        
        <ui:define name="content">
            <p:growl id="msgs" showDetail="true"/>
            <p:tab title="Banks">
                <p:dialog widgetVar="newBranchDialog" id="newBranchDialog" header="Add new '#{bankController.bank.bankName}' branch" resizable="false">
                    <f:view>
                        <h:form role="presentation" id="new_branch_form">
                            <p:panelGrid columns="2">
                                <h:outputLabel for="branchCode" value="Branch Code: " />
                                <p:inputText id="branchCode" value="#{bankController.branch.branchCode}" title="Brank Code" required="true" requiredMessage="The Branch Code field is required."/>
                                <h:outputLabel for="branchName" value="Branch Name:  " />
                                <p:inputText id="branchName" value="#{bankController.branch.branchName}" title="BranchName" required="true" requiredMessage="The Branch Name field is required."/>
                                <f:facet name="footer">
                                    <p:commandButton process="new_branch_form"  value="Add Branch" actionListener="#{bankController.addBranch(bankController.bank.bankCode)}"  update="new_branch_form, :j_idt22:banks" >
                                        <p:ajax   onsuccess="PF('newBranchDialog').hide()" />
                                    </p:commandButton>
                                </f:facet>
                            </p:panelGrid>
                        </h:form>
                    </f:view>
                </p:dialog>
                <p:dialog widgetVar="newBanksDialog" id="newBanksDialog" header="New Bank"  resizable="false" >
                    <f:view>
                        <h:form role="presentation" id="new_bank_form">
                            <p:panelGrid columns="2">
                                <h:outputLabel for="bankCode" value="Bank Code: " />
                                <p:inputText id="bankCode"  value="#{bankController.bank.bankCode}" title="BankCode" required="true" requiredMessage="The BankCode field is required."/>
                                <h:outputLabel for="bankName" value="Bank Name:  " />
                                <p:inputText id="bankName" value="#{bankController.bank.bankName}" title="Bank Name" required="true" requiredMessage="The BankName field is required."/>
                                <f:facet name="footer">
                                    <p:commandButton type="push" process="new_bank_form" actionListener="#{bankController.add()}" update="new_bank_form, :j_idt22:banks" value="Add" >
                                        <p:ajax onsuccess="PF('newBanksDialog').hide()" />
                                    </p:commandButton>
                                </f:facet>
                            </p:panelGrid>
                        </h:form>
                    </f:view>
                </p:dialog>
                <p:dialog widgetVar="editBankDialog" id="editBankDialog" header="Edit '#{bankController.bank.bankName}'"  resizable="false">
                    <f:view>
                        <h:form role="presentation" id="edit_bank_form">
                            <p:panelGrid columns="2">
                                <p:outputLabel for='bankCode' value="Bank Code: " />
                                <p:outputLabel id="bankCode"  value="#{bankController.bank.bankCode}" title="BankCode" />
                                <h:outputLabel for="bankName" value="Bank Name:" />
                                <p:inputText id="bankName" value="#{bankController.bank.bankName}" title="BankName" required="true" requiredMessage="The BankName field is required."/>
                                <f:facet name="footer">
                                    <p:commandButton process="edit_bank_form" actionListener="#{bankController.updateBank()}"  update="edit_bank_form, :j_idt22:banks" value="Update Bank" >
                                        <p:ajax onsuccess="PF('editBankDialog').hide()" />
                                    </p:commandButton>
                                </f:facet>
                            </p:panelGrid>
                        </h:form>
                    </f:view>
                </p:dialog>
                <p:dialog widgetVar="editBranchDialog" id="editBranchDialog" header="Edit '#{bankController.branch.branchName}'"  resizable="false" >
                    <f:view>
                        <h:form role="presentation" id="edit_branch_form">
                            <p:panelGrid columns="2">
                                <p:outputLabel for='branchCode' value="Branch Code: " />
                                <p:outputLabel id="branchCode"  value="#{bankController.branch.branchCode}" title="Branch Code" />
                                <h:outputLabel for="branchName" value="Branch Name:" />
                                <p:inputText id="branchName" value="#{bankController.branch.branchName}" title="Branch Name" required="true" requiredMessage="The Branch Name field is required."/>
                                <f:facet name="footer">
                                    <p:commandButton process="edit_branch_form" actionListener="#{bankController.updateBranch()}"  update="edit_branch_form, :j_idt22:banks" value="Update Branch" >
                                        <p:ajax onsuccess="PF('editBranchDialog').hide()" />
                                    </p:commandButton>
                                </f:facet>
                            </p:panelGrid>
                        </h:form>
                    </f:view>
                </p:dialog>
                <div style="height: 30px">
                    <p:commandButton value="New Bank" update=":j_idt22:newBanksDialog"  image="ui-icon-plus" oncomplete="PF('newBanksDialog').show();"/>
                </div>
                <div class="inner-tabs">
                    <p:tabView orientation="left" value="#{bankController.findAll()}" var="aBank" id="banks" dynamic="true" cache="false">
                        <p:tab title="#{aBank.bankName}">
                            <h:form>
                                <div class="row">
                                    <div class="col-md-6">
                                        <p:outputLabel value="#{aBank.bankName}" />
                                    </div>
                                    <div class="col-md-3">
                                         <p:outputLabel value="#{aBank.bankCode}" />
                                    </div>
                                    <div class="col-md-3">
                                        <p:toolbar style="background-color: inherit;margin: 0 0 5px 0;">
                                            <f:facet name="right">
                                                <p:commandButton title="Edit #{aBank.bankName}" actionListener="#{bankController.editBank(aBank)}"  image="ui-icon-pencil" update=":j_idt22:editBankDialog"  oncomplete="PF('editBankDialog').show()" />
                                                <span class="ui-separator" />
                                                <p:commandButton  title="Delete #{aBank.bankName}"  actionListener="#{bankController.deleteBank(aBank)}"  update=":j_idt22:banks"  image="ui-icon-trash">
                                                    <p:confirm header="Delete bank" message="Are you sure you want to delete this bank and all it's branches?" icon="ui-icon-alert" />
                                                </p:commandButton>
                                                <p:confirmDialog global="true" showEffect="fade" hideEffect="fade" width="400" height="100">
                                                    <p:commandButton value="Yes" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
                                                    <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
                                                </p:confirmDialog>
                                                <span class="ui-separator" />
                                                <p:commandButton  title="Add New Branch"  actionListener="#{bankController.editBank(aBank)}" update=":j_idt22:newBranchDialog"  image="ui-icon-plusthick" oncomplete="PF('newBranchDialog').show();" />
                                            </f:facet>
                                        </p:toolbar>
                                    </div>
                                </div>
                                <p:dataTable  var="branch"  value="#{bankController.getBranchesByBank(aBank)}"  paginator="true" rows="8" paginatorPosition="bottom" id="branches">
                                    <p:column headerText="Code">
                                        <p:outputLabel value="#{branch.branchCode}" />
                                    </p:column>
                                    <p:column headerText="Name">
                                        <p:outputLabel value="#{branch.branchName}" />
                                    </p:column>
                                    <p:column>
                                        <p:commandLink  value="Delete" actionListener="#{bankController.deleteBranch(branch)}" update="branches">
                                            <p:confirm header="Delete branch" message="Are you sure you want to delete this branch?" icon="ui-icon-alert" />
                                        </p:commandLink>
                                        <p:confirmDialog global="true" showEffect="fade" hideEffect="fade" width="400" height="100">
                                            <p:commandButton value="Yes" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
                                            <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
                                        </p:confirmDialog> |
                                        <p:commandLink value="Edit" actionListener="#{bankController.editBranch(branch)}" update=":j_idt22:editBranchDialog" oncomplete="PF('editBranchDialog').show()" />
                                    </p:column>
                                </p:dataTable>
                            </h:form>
                        </p:tab>
                    </p:tabView>
                </div>
            </p:tab>
            <p:tab title="Departments">
                <div style="height: 30px">
                    <p:commandButton value="New Department" update=""  image="ui-icon-plus" oncomplete="PF('newBanksDialog').show();"/>
                </div>
                <div class="inner-tabs">
                    <p:tabView orientation="left" dynamic="true" value="#{departmentController.findAll()}" var="aDep" id="departments">
                        <p:tab title="#{aDep.departmentName}">
                            <h:form>
                                <div class="row">
                                    <div class="col-md-6">
                                        <p:outputLabel value="#{aDep.departmentName}" />
                                    </div>
                                    <div class="col-md-3">
                                        <p:outputLabel value="#{aDep.departmentCode}" />
                                    </div>
                                    <div class="col-md-3">
                                        <p:toolbar style="background-color: inherit;margin: 0 0 5px 0;">
                                            <f:facet name="right">
                                                <p:commandButton title="Edit #{aDep.departmentName}" actionListener="#{departmentController.editDepartment(aDep)}"  image="ui-icon-pencil" update=":j_idt22:editBankDialog"  oncomplete="PF('editBankDialog').show()" />
                                                <span class="ui-separator" />
                                                <p:commandButton  title="Delete #{aDep.departmentName}"  actionListener="#{departmentController.deleteDepartment(aDep)}"  update=":j_idt22:banks"  image="ui-icon-trash">
                                                    <p:confirm header="Delete department" message="Are you sure you want to delete this department and all it's sections?" icon="ui-icon-alert" />
                                                </p:commandButton>
                                                <p:confirmDialog global="true" showEffect="fade" hideEffect="fade" width="400" height="100">
                                                    <p:commandButton value="Yes" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
                                                    <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
                                                </p:confirmDialog>
                                                <span class="ui-separator" />
                                                <p:commandButton  title="Add New Branch"  actionListener="#{bankController.editBank(aBank)}" update=":j_idt22:newBranchDialog"  image="ui-icon-plusthick" oncomplete="PF('newBranchDialog').show();" />
                                            </f:facet>
                                        </p:toolbar>
                                    </div>
                                </div>
                                <p:dataTable  var="branch"  value="#{bankController.getBranchesByBank(aBank)}"  paginator="true" rows="8" paginatorPosition="bottom" id="branches">
                                    <p:column headerText="Code">
                                        <p:outputLabel value="#{branch.branchCode}" />
                                    </p:column>
                                    <p:column headerText="Name">
                                        <p:outputLabel value="#{branch.branchName}" />
                                    </p:column>
                                    <p:column>
                                        <p:commandLink  value="Delete" actionListener="#{bankController.deleteBranch(branch)}" update="branches">
                                            <p:confirm header="Delete branch" message="Are you sure you want to delete this branch?" icon="ui-icon-alert" />
                                        </p:commandLink>
                                        <p:confirmDialog global="true" showEffect="fade" hideEffect="fade" width="400" height="100">
                                            <p:commandButton value="Yes" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
                                            <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
                                        </p:confirmDialog> |
                                        <p:commandLink value="Edit" actionListener="#{bankController.editBranch(branch)}" update=":j_idt22:editBranchDialog" oncomplete="PF('editBranchDialog').show()" />
                                    </p:column>
                                </p:dataTable>
                            </h:form>
                        </p:tab>
                    </p:tabView>
                </div>
            </p:tab>
            <p:tab title="Job Groups">
                
            </p:tab>
            <p:tab title="Benefits">
                
            </p:tab>
            <p:tab title="Awards">
                
            </p:tab>
        </ui:define>
        
        <ui:define name="custom-js-css">
            <h:outputStylesheet name="company.css"></h:outputStylesheet>
        </ui:define>
    </ui:composition>
</html>

