<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    
    
    <ui:composition template="base.xhtml">
        <ui:define name="title">
            <title>Fine_Xtreme | Parameters</title>
        </ui:define>
        
        <ui:define name="parameters-temp">
            <li role="presentation" class="active-menu-item">
                <p:link value="Parameters" />
            </li>
           
        </ui:define>
        <ui:define name="content">
            <p:tab title="Deductions">
                <f:view>
                        
                        
                        <p:separator />
                        <div class="ui-g">
                            <div class="ui-g-4">
                                <p:fieldset id="deductBy" widgetVar="deductiontable" legend="List of Defined Deductions" style="margin-bottom:10px" >
                                    <p:commandButton value="New" style="margin-bottom: 10px; margin-left: 10px; padding: 5px; background-color: #5cb85c">
                                        <p:ajax update="j_idt22:table j_idt22:mainform j_idt22:details" event="click"  oncomplete="" />
                                    </p:commandButton>
                                    <h:form id="table">
                                        <p:dataTable value="#{generalDeductionsController.findAll()}" var="item" rowKey="#{item.deductionCode}" selectionMode="single" selection="#{generalDeductionsController.deduction}">
                                            <p:ajax event="rowSelect" update="j_idt22:details j_idt22:mainform" listener="#{generalDeductionsController.loadDeduction()}" />
                                            <p:column>
                                                <f:facet name="header">
                                                    <h:outputText value="DeductionCode"/>
                                                </f:facet>
                                                <h:outputText value="#{item.deductionCode}"/>
                                            </p:column>
                                            <p:column>
                                                <f:facet name="header">
                                                    <h:outputText value="DeductionName"/>
                                                </f:facet>
                                                <h:outputText value="#{item.deductionName}"/>
                                            </p:column>
                                        </p:dataTable>
                                    </h:form>
                                </p:fieldset> 
                            </div>
                            <div class="ui-g-8" >
                                <p:fieldset id="details" legend="Deduction parameters for '#{generalDeductionsController.deduction.deductionName}'" style="margin-bottom:10px" >
                                    <h:form id="mainform">
                                        <p:panelGrid columns="2">
                                            <p:outputLabel value="DeductionCode:" for="deductionCode" />
                                            <p:inputText id="deductionCode" value="#{generalDeductionsController.deduction.deductionCode}" title="DeductionCode" required="true" requiredMessage="The DeductionCode field is required." readonly="#{generalDeductionsController.deduction.deductionName != null}"/>

                                            <p:outputLabel value="DeductionName:" for="deductionName" />
                                            <p:inputText id="deductionName" value="#{generalDeductionsController.deduction.deductionName}" title="DeductionName" required="true" requiredMessage="The DeductionCode field is required."/>

                                            <p:outputLabel value="HasBal:" for="hasBal" />
                                            <p:selectBooleanCheckbox  id="hasBal" value="#{generalDeductionsController.hasBal}"  title="HasBal">
                                                <p:ajax update="isIncreasing"/>
                                            </p:selectBooleanCheckbox>

                                            <p:outputLabel value="Mode:" for="isIncreasing" />                                       
                                            <p:selectOneMenu id="isIncreasing" value="#{generalDeductionsController.deduction.isIncreasing}" disabled="#{!generalDeductionsController.hasBal}" >
                                                <f:selectItem itemLabel="Increasing" itemValue="YES"/>
                                                <f:selectItem itemLabel="Reducing" itemValue="NO"/>                                    
                                            </p:selectOneMenu>

                                            <p:outputLabel value="This is the Default Sacco/COOP Deduction(Share + Loan+Interest)" for="isDefaultSaccoDeduction" />
                                            <p:selectBooleanCheckbox id="isDefaultSaccoDeduction" value="#{generalDeductionsController.isDefaultSaccoDeduction}" title="IsDefaultSaccoDeductione" />

                                            <p:outputLabel value="This is a SACCO Saving Scheme ONLY eg. Deposit, Child fund:" for="isSaccoSaving" />
                                            <p:selectBooleanCheckbox id="isSaccoSaving" value="#{generalDeductionsController.isSaccoSaving}" title="IsSaccoSaving" />

                                            <p:outputLabel value="This is a SACCO Welfare Fund" for="isWelfareFund" />
                                            <p:selectBooleanCheckbox id="isWelfareFund" value="#{generalDeductionsController.isWelfareFund}" title="IsWelfareFund" />

                                            <p:outputLabel value="Does not Recur:" for="doesNotRecur" />
                                            <p:selectBooleanCheckbox id="doesNotRecur" value="#{generalDeductionsController.doesNotRecur}" title="DoesNotRecur" />

                                            <p:outputLabel value="Deduct After Tax:" for="deductAfterTax" />
                                            <p:selectBooleanCheckbox id="deductAfterTax" value="#{generalDeductionsController.deductAfterTax}" title="DeductAfterTax" />

                                            <p:outputLabel value="This is the Voluntary NSSF Deduction" for="isVoluntaryNSSF" />
                                            <p:selectBooleanCheckbox id="isVoluntaryNSSF" value="#{generalDeductionsController.isVoluntaryNSSF}" title="IsVoluntaryNSSF" />


                                        </p:panelGrid>
                                        <fieldset>
                                            <legend>                                               
                                                <p:outputLabel value="Deduct By:" for="deductBy" />
                                            </legend>
                                            <h:panelGroup>
                                                <p:selectOneRadio id="deductBy" value="#{generalDeductionsController.deduction.deductBy}" required="true" requiredMessage="The DeductionCode field is required.">
                                                    <f:selectItem itemLabel="Amount" itemValue="Amount" />
                                                    <f:selectItem itemLabel="Percentage of Gross" itemValue="Percentage of Gross" />
                                                    <f:selectItem itemLabel="Percentage of Basic" itemValue="Percentage of Basic" />
                                                </p:selectOneRadio>                                            

                                            </h:panelGroup>
                                        </fieldset>
                                        <fieldset>
                                            <legend>
                                                <h:selectBooleanCheckbox  value="#{generalDeductionsController.isLoanDeduction}">
                                                    <p:ajax event="change" update="isaLoanDeduction" />
                                                </h:selectBooleanCheckbox>
                                                <h:outputText value="This is a Loan Deduction" />
                                            </legend>
                                            <h:panelGroup id="isaLoanDeduction">
                                                <p:outputPanel layout="block"  rendered="#{generalDeductionsController.isLoanDeduction}" autoUpdate="true" >
                                                    <p:panelGrid columns="2">
                                                        <p:outputLabel value="LoanShortName:" for="loanShortName" />
                                                        <p:inputText id="loanShortName" value="#{generalDeductionsController.deduction.loanShortName}" title="LoanShortName"/>

                                                        <p:outputLabel value="Interest Type" for="interestType" />
                                                        <p:selectOneMenu id="interestType" value="#{generalDeductionsController.deduction.interestType}" >
                                                            <f:selectItem itemLabel="Reducing" itemValue="Reducing" />
                                                            <f:selectItem itemLabel="FLAT" itemValue="FLAT" />  
                                                            <f:selectItem itemLabel="FIXED" itemValue="FIXED" />  
                                                        </p:selectOneMenu>

                                                        <p:outputLabel value="This is a Sacco loan" for="isSaccoLoan" />
                                                        <p:selectBooleanCheckbox id="isSaccoLoan" value="#{generalDeductionsController.isSaccoLoan}" title="isSaccoLoan" />

                                                    </p:panelGrid> 


                                                </p:outputPanel>

                                            </h:panelGroup>
                                        </fieldset>

                                        <fieldset>
                                            <legend>
                                                <h:selectBooleanCheckbox value="#{generalDeductionsController.otherReliefs}" >
                                                    <p:ajax event="change" update="isOtherReliefs"/>
                                                </h:selectBooleanCheckbox>
                                                <h:outputText value="Other Reliefs" />
                                            </legend>
                                            <h:panelGroup id="isOtherReliefs">
                                                <p:outputPanel layout="block"  rendered="#{generalDeductionsController.otherReliefs}" >
                                                    <p:panelGrid columns="2">
                                                        <p:outputLabel value="Type" for="reliefIsPercentage"/>
                                                        <p:selectOneRadio id="reliefIsPercentage" value="#{generalDeductionsController.deduction.reliefIsPercentage}" style="margin-left: 10px; margin-right: 10px">
                                                            <f:selectItem itemLabel="Percentage"  itemValue="YES"  />
                                                            <f:selectItem itemLabel="Fixed Amount" itemValue="NO"  />  
                                                            <p:ajax event="click" update="reliefRateName" listener="#{generalDeductionsController.SetOtherReliefsName()}"/>
                                                        </p:selectOneRadio>

                                                        <p:outputLabel value="#{generalDeductionsController.otherReliefsName}" for="reliefRate" id="reliefRateName" />
                                                        <p:inputText id="reliefRate" value="#{generalDeductionsController.deduction.reliefRate}" title="reliefRate" required="true" requiredMessage="The reliefRate field is required."/>

                                                        <p:outputLabel value="Relief Name" for="reliefName" />
                                                        <p:inputText id="reliefName" value="#{generalDeductionsController.deduction.reliefName}" title="reliefName" required="true" requiredMessage="The reliefName field is required."/>

                                                        <p:outputLabel value="Max Relief Amount" for="maxReliefAmount" />
                                                        <p:inputText id="maxReliefAmount" value="#{generalDeductionsController.deduction.maxReliefAmount}" title="maxReliefAmount" required="true" requiredMessage="The maxReliefAmount field is required."/>

                                                    </p:panelGrid>                                                
                                                </p:outputPanel>
                                            </h:panelGroup>
                                        </fieldset>                                        
                                       
                                        <p:remoteCommand name="processFormUser" process="@form" update="j_idt22:mainform j_idt22:table j_idt22:details" action="#{generalDeductionsController.add()}"/>
                                                                                                                                                          
                                    </h:form>
                                    
                                    <p:commandButton value="Save" icon="ui-icon ui-icon-check" onclick="processFormUser();" style="padding: 5px; margin-top: 20px; margin-left: 20px; "/>
                                    
                                    <p:commandButton value="Delete" actionListener="#{generalDeductionsController.delete2()}" update="j_idt22:table j_idt22:mainform j_idt22:details" disabled="false" widgetVar="deletebtn" style="margin-left: 50px; padding: 5px">
                                        <p:confirm header="Confirmation" message="Are you sure you want to DELETE #{generalDeductionsController.deduction.deductionName}?" icon="ui-icon-alert" />
                                    </p:commandButton>
                                    
                                </p:fieldset>
                                
                            </div>
                        </div>
                        
                        <p:confirmDialog global="true" showEffect="fade" hideEffect="fade" id="dialog">
                            <p:commandButton value="Yes"  type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" update="j_idt22:mainform j_idt22:table" />
                            <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
                        </p:confirmDialog>
                        
                    </f:view>
            </p:tab>
            <p:tab title="Earning Definations">
                <f:view>
                    <p:separator/>
                    <p:commandButton value="New" style="padding: 5px; margin: 10px;" icon="fa fa-plus">
                        <p:ajax update="j_idt22:newEarningForm j_idt22:EarningForm" event="click"/>
                    </p:commandButton>
                    
                    <p:commandButton value="Save" icon="ui-icon ui-icon-check" onclick="processFormEarning();" style="padding: 5px; margin-top: 20px; margin-left: 20px; "/>
                   
                    <p:commandButton value="Delete" icon="fa fa-fw fa-remove" onclick="DeleteProcess();" style="padding: 5px; margin-top: 20px; margin-left: 20px; ">
                        <p:confirm header="Confirmation" message="Are you sure you want to DELETE ?" icon="ui-icon-alert" />
                    </p:commandButton>
                    
                    <p:commandButton value="Clear" style="padding: 5px; margin: 10px;" icon="fa fa-eraser">
                        <p:ajax update="j_idt22:newEarningForm j_idt22:EarningForm" event="click"/>
                    </p:commandButton>
                    
                    <h:form id="newEarningForm">
                        <p:panel id="basic" header="Earning Details:"  style="margin-bottom:20px; margin-right: 20px;">
                            <p:panelGrid columns="2" style="margin-left: 20px;">
                                    <p:outputLabel value="EarningCode:" for="earningCode" />
                                    <p:inputText id="earningCode" value="#{generalEarningsController.genEarning.earningCode}" title="EarningCode" required="true" requiredMessage="The EarningCode field is required."/>

                                    <p:outputLabel value="EarningName:" for="earningName" />
                                    <p:inputText id="earningName" value="#{generalEarningsController.genEarning.earningName}" title="EarningName" />
                                </p:panelGrid>
                                <div class="ui-g">
                                    <div class="ui-g-6">
                                        <fieldset>
                                            <legend>
                                                <h:selectBooleanCheckbox  value="#{generalEarningsController.taxable}">
                                                    <p:ajax event="change" update="istaxable" />
                                                </h:selectBooleanCheckbox>
                                                <h:outputText value="Taxable" />
                                            </legend>
                                            <h:panelGroup id="istaxable">
                                                <p:outputPanel layout="block" autoUpdate="true" >
                                                    <p:panelGrid columns="2">
                                                        <p:outputLabel value="Percentage Taxable" for="taxRate" />
                                                        <p:inputText id="taxRate" disabled="#{!generalEarningsController.taxable}" value="#{generalEarningsController.genEarning.taxRate}" title="TaxRate" required="true" requiredMessage="The TaxRate field is required."/>

                                                    </p:panelGrid> 
                                                </p:outputPanel>
                                            </h:panelGroup>
                                        </fieldset>                                    
                                    </div>
                                    <div class="ui-g-6">
                                        <h:selectBooleanCheckbox id="considerNHIF" value="#{generalEarningsController.considerNHIF}" title="ConsiderNHIF" />
                                        <p:outputLabel value="Affected by NHIF" for="considerNHIF" />
                                        <br/>

                                        <h:selectBooleanCheckbox id="isBasicSalary" value="#{generalEarningsController.isBasicSalary}" title="IsBasicSalary" />
                                        <p:outputLabel value="This is the Basic Salary:" for="isBasicSalary" />
                                        <br/>

                                        <h:selectBooleanCheckbox id="doesNotRecur" value="#{generalEarningsController.doesNotRecur}" title="DoesNotRecur"/>
                                        <p:outputLabel value="Does Not Recur:" for="doesNotRecur" />
                                    </div>
                                </div>
                            <p:remoteCommand name="processFormEarning" process="@form" update="j_idt22:EarningForm j_idt22:newEarningForm" action="#{generalEarningsController.add()}"/>
                            
                            
                            <p:remoteCommand name="DeleteProcess" actionListener="#{generalEarningsController.delete()}" update="j_idt22:newEarningForm j_idt22:EarningForm">
                                
                            </p:remoteCommand>
                        </p:panel>
                        
                    </h:form>
                    
                    <h:form style="margin-right: 20px;" id="EarningForm">
                        <p:dataTable value="#{generalEarningsController.findAll()}" var="item" selectionMode="single" selection="#{generalEarningsController.genEarning}" rowKey="#{item.earningCode}">
                            <p:ajax event="rowSelect" update="j_idt22:newEarningForm" listener="#{generalEarningsController.loadEarnings()}"/>
                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="Earning Code"/>
                                    </f:facet>
                                    <h:outputText value="#{item.earningCode}"/>
                                </p:column>
                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="Earning Name"/>
                                    </f:facet>
                                    <h:outputText value="#{item.earningName}"/>
                                </p:column>
                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="Taxable"/>
                                    </f:facet>
                                    <h:outputText value="#{item.taxable}"/>
                                </p:column>
                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="Tax Rate"/>
                                    </f:facet>
                                    <h:outputText value="#{item.taxRate}"/>
                                </p:column>                               
                                
                            </p:dataTable>
                        </h:form>

                    </f:view>
                
            </p:tab>
            <p:tab title="Links">
                <a href="Parameters/Deductions/viewDeductions.xhtml">Deductions</a> <br/>
                <a href="Parameters/EarningDef/viewEarningDefs.xhtml">Earnings Definitions</a><br/>
                <a href="Parameters/PAYEBrackets/viewPAYEBrackets.xhtml">P.A.Y.E Tables</a><br/>
                <a href="Parameters/NHIFBrackets/viewNHIFBrackets.xhtml">N.H.I.F Tables</a><br/>
                <a href="Parameters/NonWorkingDays/nonWorkingDays.xhtml">Non Working Days</a><br/>
                <a href="Parameters/leaveTypes/viewLeaveTypes.xhtml">Types of Leave</a><br/>           
                <a href="Parameters/GeneralParameters/viewGeneralParameters.xhtml">General Parameters</a><br/> 
                <a href="Parameters/staffCategory/viewStaffCategories.xhtml">Staff Categories</a><br/>
                <a href="Parameters/Casualcategories/viewCasualcategories.xhtml">Casual Staff Categories</a><br/>
            </p:tab>
        </ui:define>
        
    </ui:composition>
</html>

