<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="base.xhtml">
        <ui:define name="title">
            <title>Fine_Xtreme | User Management</title>
        </ui:define>

        <ui:define name="uman-temp">
            <li role="presentation" class="active-menu-item">
                <p:link value="User Management" />
            </li>
        </ui:define>
        <ui:define name="content">
            <!--Employee tab-->
            <p:tab title="Employees" >
                <p:commandButton action="#{empController.getCreatePage()}" value="create new Employee" />

                <f:view>
                    <h:form>
                        <h3><h:outputText value="List of Employees"/></h3>
                        <p:dataTable value="#{empController.allEmployees}" scrollable="true" scrollWidth="100%" scrollHeight="250" var="item">
                            <p:column headerText="Payroll Number" footerText="Payroll Number" width="200" >
                                <h:outputText value="#{item.payrollNo}"/>
                            </p:column>
                            <p:column headerText="ID Number" footerText="ID Number" width="200">
                                <h:outputText value="#{item.IDNo}"/>
                            </p:column>
                            <p:column headerText="Bank A/c NO" footerText="Bank A/c NO" width="200">
                                <h:outputText value="#{item.bankAccountNumber}"/>
                            </p:column>
                            <p:column headerText="Surname" footerText="Surname" width="200">
                                <h:outputText value="#{item.surname}"/>
                            </p:column>
                            <p:column headerText="Other Names" footerText="Other Names" width="200">
                                <h:outputText value="#{item.otherName}"/>
                            </p:column>
                            <p:column headerText="Employment Date" footerText="Employment Date" width="200">
                                <h:outputText value="#{item.employmentDate}"/>
                            </p:column>
                            <p:column headerText="Is Housed" footerText="Is Housed" width="200">
                                <h:outputText value="#{item.isHoused}"/>
                            </p:column>
                            <p:column headerText="Retirement Age" footerText="Retirement Age" width="200">
                                <h:outputText value="#{item.retirementAge}"/>
                            </p:column>
                            <p:column headerText="Date of Birth" footerText="Date of Birth" width="200">
                                <h:outputText value="#{item.DOB}"/>
                            </p:column>
                            <p:column headerText="Deduct Pension Self As" footerText="Deduct Pension Self As" width="200">
                                <h:outputText value="#{item.deductPensionSelfAs}"/>
                            </p:column>
                            <p:column headerText="Deduct Pension Company As" footerText="Deduct Pension Company As" width="200">
                                <h:outputText value="#{item.deductPensionCompanyAs}"/>
                            </p:column>
                            <p:column headerText="Address" footerText="Address" width="200">
                                <h:outputText value="#{item.address}"/>
                            </p:column>
                            <p:column headerText="Staff Type" footerText="Staff Type" width="200">
                                <h:outputText value="#{item.staffType}"/>
                            </p:column>
                            <p:column headerText="Gender" footerText="Gender" width="200">
                                <h:outputText value="#{item.sex}"/>
                            </p:column>
                            <p:column headerText="NSSF No." footerText="NSSF No." width="200">
                                <h:outputText value="#{item.NSSF_No}"/>
                            </p:column>
                            <p:column headerText="NHIF No" footerText="NHIF No" width="200">
                                <h:outputText value="#{item.NHIF_No}"/>
                            </p:column>
                            <p:column headerText="Pension No." footerText="Pension No." width="200">
                                <h:outputText value="#{item.pensionNo}"/>
                            </p:column>
                            <p:column headerText="Cooperative No." footerText="Cooperative No." width="200">
                                <h:outputText value="#{item.coopNo}"/>
                            </p:column>
                            <p:column headerText="Mode Of Payment" footerText="Mode Of Payment" width="200">
                                <h:outputText value="#{item.mode_Of_Pay}"/>
                            </p:column>
                            <p:column headerText="Pension" footerText="Pension" width="200">
                                <h:outputText value="#{item.pension}"/>
                            </p:column>
                            <p:column headerText="Bank Code" footerText="Bank Code" width="200">
                                <h:outputText value="#{item.bankCode}"/>
                            </p:column>
                            <p:column headerText="Branch Code" footerText="Branch Code" width="200">
                                <h:outputText value="#{item.branchCode}"/>
                            </p:column>
                            <p:column headerText="Job Group Code" footerText="Job Group Code" width="200">
                                <h:outputText value="#{item.jobGroupCode}"/>
                            </p:column>
                            <p:column headerText="Department Code" footerText="Department Code" width="200">
                                <h:outputText value="#{item.departmentCode}"/>
                            </p:column>
                            <p:column headerText="Section Code" footerText="Section Code" width="200">
                                <h:outputText value="#{item.sectionCode}"/>
                            </p:column>
                            <p:column headerText="Marital Status" footerText="Marital Status" width="200">
                                <h:outputText value="#{item.maritalStatus}"/>
                            </p:column>
                            <p:column headerText="Exempted From NSSF" footerText="Exempted From NSSF" width="200">
                                <h:outputText value="#{item.exemptedFromNSSF}"/>
                            </p:column>
                            <p:column headerText="Exempted From NHIF" footerText="Exempted From NHIF" width="200">
                                <h:outputText value="#{item.exemptedFromNHIF}"/>
                            </p:column>
                            <p:column headerText="Pension Self B/F" footerText="Pension Self B/F" width="200">
                                <h:outputText value="#{item.pensionSelfBF}"/>
                            </p:column>
                            <p:column headerText="Pension Company B/F" footerText="Pension Company B/F" width="200">
                                <h:outputText value="#{item.pensionCompanyBF}"/>
                            </p:column>
                            <p:column headerText="Pension Self" footerText="Pension Self" width="200">
                                <h:outputText value="#{item.pensionSelf}"/>
                            </p:column>
                            <p:column headerText="Pension Company" footerText="Pension Company" width="200">
                                <h:outputText value="#{item.pensionCompany}"/>
                            </p:column>
                            <p:column headerText="Provident Self Mode" footerText="Provident Self Mode" width="200">
                                <h:outputText value="#{item.providentSelfMode}"/>
                            </p:column>
                            <p:column headerText="Provident Company Mode" footerText="Provident Company Mode" width="200">
                                <h:outputText value="#{item.providentCompanyMode}"/>
                            </p:column>
                            <p:column headerText="Provident" footerText="Provident" width="200">
                                <h:outputText value="#{item.provident}"/>
                            </p:column>
                            <p:column headerText="Provident Self BF" footerText="Provident Self BF" width="200">
                                <h:outputText value="#{item.providentSelfBF}"/>
                            </p:column>
                            <p:column headerText="Provident Company B/F" footerText="Provident Company B/F" width="200">
                                <h:outputText value="#{item.providentCompanyBF}"/>
                            </p:column>
                            <p:column headerText="Provident Self" footerText="Provident Self" width="200">
                                <h:outputText value="#{item.providentSelf}"/>
                            </p:column>
                            <p:column headerText="Provident Company" footerText="Provident Company" width="200">
                                <h:outputText value="#{item.providentCompany}"/>
                            </p:column>
                            <p:column headerText="Employee PIN" footerText="Employee PIN" width="200">
                                <h:outputText value="#{item.employeePIN}"/>
                            </p:column>
                            <p:column headerText="NSSF Self" footerText="NSSF Self" width="200">
                                <h:outputText value="#{item.NSSFSelf}"/>
                            </p:column>
                            <p:column headerText="NSSF Self B/F" footerText="NSSF Self B/F" width="200">
                                <h:outputText value="#{item.NSSFSelfBF}"/>
                            </p:column>
                            <p:column headerText="NSSF Company" footerText="NSSF Company" width="200">
                                <h:outputText value="#{item.NSSFCompany}"/>
                            </p:column>
                            <p:column headerText="NSSF Company B/F" footerText="NSSF Company B/F" width="200">
                                <h:outputText value="#{item.NSSFCompanyBF}"/>
                            </p:column>
                            <p:column headerText="Status" footerText="Status" width="200">
                                <h:outputText value="#{item.status}"/>
                            </p:column>
                            <p:column headerText="Employee Password" footerText="Employee Password" width="200">
                                <h:outputText value="#{item.empPass}"/>
                            </p:column>
                            <p:column headerText="Blood Group" footerText="Blood Group" width="200">
                                <h:outputText value="#{item.bloodGroup}"/>
                            </p:column>
                            <p:column headerText="Phone" footerText="Phone" width="200">
                                <h:outputText value="#{item.cellPhone}"/>
                            </p:column>
                            <p:column headerText="EmailAddress" footerText="EmailAddress" width="200">
                                <h:outputText value="#{item.emailAddress}"/>
                            </p:column>


                            <p:column headerText="Edit Employee" footerText="Edit Employee"  width="200">
                                <p:commandButton action="#{empController.editEmployee(item)}" value="Edit"/>
                            </p:column>
                            <p:column headerText="Delete Employee" footerText="Delete Employee"  width="200">
                                <p:commandButton action="#{empController.deletePage(employees)}" value="Delete"/>
                            </p:column>
                        </p:dataTable>
                    </h:form>
                </f:view>
            </p:tab>

            <!--End of Employee tab-->
             <p:tab title="Rent">
                <f:view>
                    <h:form id="form-display">
                        <h1><h:outputText value="Rent Paid"/></h1>
                        <p:commandButton value="Add New" action="#{rentpaidController.getNewRentPaid()}" update="j_idt22:form-create j_idt22:form-edit j_idt22:form-display" oncomplete="PF('AddRentPaid').show();" icon="ui-icon-plusthick" styleClass="ui-priority-primary" />
                        <p:dataTable  value="#{rentpaidController.allRentpaid}" var="item">
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="PayrollNo"/>
                                </f:facet>
                                <h:outputText value="#{item.payrollNo}"/>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Amount"/>
                                </f:facet>
                                <h:outputText value="#{item.amount}"/>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Action"/>
                                </f:facet>
                                <p:commandLink action="#{rentpaidController.edit(item)}" onclick="PF('editRentPaid').show()" update="j_idt22:form-edit" value="Edit"/> |
                                <p:commandLink action="#{rentpaidController.edit(item)}" onclick="PF('deleteRentPaid').show()" update="j_idt22:form-delete" value="Delete"/>
                            </p:column>
                        </p:dataTable>
                    </h:form>
                </f:view>

                <p:dialog header="Edit Rent Paid" widgetVar="editRentPaid" modal="true" appendTo="@(body)">
                    <h:form id="form-edit">
                        <p:panelGrid columns="2">
                            <p:outputLabel value="PayrollNo:" for="payrollNo" />
                            <p:inputText id="payrollNo" value="#{rentpaidController.rentPaid.payrollNo}" title="PayrollNo" />
                            <p:outputLabel value="Amount:" for="amount" />
                            <p:inputText id="amount" value="#{rentpaidController.rentPaid.amount}" title="Amount" />
                            <p:commandButton action="#{rentpaidController.updateRentPaid()}" onclick="PF('editRentPaid').hide()" value="Save" update="j_idt22:form-delete j_idt22:form-create j_idt22:form-display" />
                        </p:panelGrid>
                    </h:form>
                </p:dialog>
                <p:dialog header="Add Rent Paid" widgetVar="AddRentPaid" modal="true" appendTo="@(body)" >
                    <h:form id="form-create" >
                        <p:panelGrid columns="2">
                            <p:outputLabel value="PayrollNo:" for="payrollNo" />
                            <p:inputText id="payrollNo" value="#{rentpaidController.rentPaid.payrollNo}" title="PayrollNo" />
                            <p:outputLabel value="Amount:" for="amount" />
                            <p:inputText id="amount" value="#{rentpaidController.rentPaid.amount}" title="Amount" />
                            <p:commandButton action="#{rentpaidController.addRentPaid()}" onclick="PF('AddRentPaid').hide()" value="Add" update="j_idt22:form-delete j_idt22:form-create j_idt22:form-edit form-display" />
                        </p:panelGrid>
                    </h:form>
                </p:dialog>
                <p:dialog header="Delete Rent Paid" widgetVar="deleteRentPaid" modal="true" appendTo="@(body)" >
                    <h:form id="form-delete" >
                        <p:panelGrid columns="2">
                            <p:outputLabel value="PayrollNo:" for="payrollNo" />
                            <p:inputText id="payrollNo" value="#{rentpaidController.rentPaid.payrollNo}" title="PayrollNo" />
                            <p:outputLabel value="Amount:" for="amount" />
                            <p:inputText id="amount" value="#{rentpaidController.rentPaid.amount}" title="Amount" />
                            <p:commandButton action="#{rentpaidController.deleteRentPaid()}" onclick="PF('deleteRentPaid').hide()" value="Delete" update="j_idt22:form-delete j_idt22:form-create j_idt22:form-edit j_idt22:form-display" />
                        </p:panelGrid>
                    </h:form>
                </p:dialog>
            </p:tab>

        </ui:define>
    </ui:composition>
</html>

