
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <f:view contentType="text/html">
        <h:head>
            <f:facet name="first">
                <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
                <title>FineXtreme HR</title>
                <script name="jquery/jquery.js" library="primefaces"></script>
            </f:facet>
        </h:head>

        <h:body>
           
         <ui:composition template="/WEB-INF/resources/templates/template.xhtml">
             <ui:define name="content">
                  <f:view>
                     
                      <p:separator/>
                      
                      <h:form id="form-display">
                          <h1><h:outputText value="List"/></h1>

                          <p:commandButton value="Add New" onclick="PF('AddDialog').show();" icon="ui-icon-plusthick" styleClass="ui-priority-primary" update="form-display" />
                          <p:commandButton value="Edit" update="form-input2" onclick="PF('AddDialog').show();" disabled="#{nonWorkingDaysController.nonWorkingDays.description == null}"  />
                          <p:commandButton id="deleteButton" value="Delete" onclick="PF('deleteDialog').show();"  disabled="#{nonWorkingDaysController.nonWorkingDays.description == null}"/>
                          <p:dataTable value="#{nonWorkingDaysController.findAll()}" var="item" selectionMode="single" selection="#{nonWorkingDaysController.nonWorkingDays}" rowKey="#{item.definedDate}">
                              <p:ajax event="rowSelect" update="form-display" />
                             
                              <p:column>
                                  <f:facet name="header">
                                      <h:outputText value="DefinedDate"/>
                                  </f:facet>
                                  <h:outputText value="#{item.definedDate}">
                                      <f:convertDateTime pattern="MM/dd/yyyy" />
                                  </h:outputText>
                              </p:column>
                              <p:column>
                                  <f:facet name="header">
                                      <h:outputText value="Description"/>
                                  </f:facet>
                                  <h:outputText value="#{item.description}"/>
                              </p:column>
                              <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="Action"/>
                                    </f:facet>
                                  <p:commandLink value="E" action="#{nonWorkingDaysController.edit(item)}" update="form-input2" onclick="PF('AddDialog').show();" ></p:commandLink> | 
                                  <p:commandLink value="D"  action="#{nonWorkingDaysController.edit(item)}" type="button" onclick="PF('deleteDialog').show();"></p:commandLink> 
                                    
                                </p:column>
                          </p:dataTable>
                          
                      </h:form>                     
                      <p:dialog header="Confirm Delete" widgetVar="deleteDialog" showEffect="explode" hideEffect="bounce" height="100"  modal="true" appendTo="@(body)">
                          <h:outputText value="Are You Sure you want to delete #{nonWorkingDaysController.nonWorkingDays.definedDate}" /> <br/>

                          <p:commandButton value="YES" action="#{nonWorkingDaysController.delete(nonWorkingDaysController.nonWorkingDays)}" update="form-display" onclick="PF('deleteDialog').hide();"/>
                          <p:commandButton value="NO" onclick="PF('deleteDialog').hide();" />
                      </p:dialog>
                      <p:dialog header="Add Non Working Day" widgetVar="AddDialog" showEffect="explode" hideEffect="bounce"  modal="true" appendTo="@(body)">
                          <h:form id="form-input2">
                            <p:panelGrid columns="2">
                                <p:outputLabel value="Date" for="definedDate" />                                
                                
                                 <p:calendar id="definedDate" value="#{nonWorkingDaysController.nonWorkingDays.definedDate}" showOn="button"  required="true" disabled="#{nonWorkingDaysController.nonWorkingDays.description != null}" />  

                                <p:outputLabel value="Description:" for="description" />
                                <p:inputText id="description" value="#{nonWorkingDaysController.nonWorkingDays.description}" title="Desc" required="true" requiredMessage="The BankName field is required."/>
                                                              
                                <p:commandButton value="Save" action="#{nonWorkingDaysController.save()}" update="form-input2 form-display" oncomplete="if (args &amp;&amp; !args.validationFailed) PF('AddDialog').hide();" ></p:commandButton>
                            </p:panelGrid>
                        </h:form>
                      </p:dialog>

                  </f:view>
                 
             </ui:define>
             
             <ui:define name="side-Nav">
                
             </ui:define>

        </ui:composition>

        </h:body>

    </f:view>
</html>


