<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    
    <style>
        #leftPanel {z-index:2 !important; }
        #leftPanel div{overflow:visible;}
        
    </style>
    <h:body> 
      
        <p:layout fullPage="true">
            <p:layoutUnit position="north" size="0" closable="true" collapsible="true" id="leftPanel">
                <ui:insert name="header" >
                   <ui:include src="header.xhtml" />
                </ui:insert> 
             </p:layoutUnit>
            
           <p:layoutUnit position="west" size="175" header="Left" collapsible="true">
                <ui:insert name="side-Nav">
                     <ui:include src="side-Nav.xhtml" />
                 </ui:insert>               
           </p:layoutUnit>
            
           <p:layoutUnit position="center">
                <ui:insert name="content" >
                    <ui:include src="content.xhtml" />
                </ui:insert>  
           </p:layoutUnit>
            
            <p:layoutUnit position="south" size="100" closable="true" collapsible="true">
                <ui:insert name="footer" >
                   <ui:include src="footer.xhtml" />
                </ui:insert>
            </p:layoutUnit>
            
        </p:layout>
    </h:body>
</html>

